@charset "UTF-8";
@use "../global/" as *;

/*=========================================================
　　　　　以下PC表示
=======================================================*/

@mixin pc {
    /* ヘッダー
====================================================*/

    // ヘッダー帯
    header {
        background: #000;
        width: 100%;
        height: 70px;
        position: relative;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.2vw;
            background: rgb(190, 193, 195);
        }

        // ヘッダー内部
        .header_inner {
            width: 100%;
            height: 67px;
            @include flex_center;
            justify-content: space-between;

            // プラットフォーム
            .header_platform {
                @include flex_center;
                width: 5em;
                height: 67px;
                padding-left: 1%;
            }

            // ヘッダーロゴ
            .header_logo {
                display: flex;
                @include right_left;

                a {
                    width: 130px;
                    height: 67px;
                    background: url(#{$path_img}/common/rain_textlogo.webp) center center no-repeat;
                    background-size: 100%;
                }
            }

            // ヘッダーメニュー
            .header_language {
                position: absolute;
                right: 0;
                top: 13%;
                padding-right: 1%;

                // メニュー中央調整
                ul {
                    // 言語選択枠
                    .header_language_selector {
                        width: 8em;
                        height: 2.8em;
                        color: #fff;
                        border: 2px solid #fff;
                        box-sizing: content-box;
                        position: relative;
                        padding: 0 0.5em;
                        transition: border 0.3s ease-in-out;

                        // 言語選択アクティブ時
                        &.langArrow_open {
                            p {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    background: url(#{$path_img}/common/lang_arrow.webp) no-repeat;
                                    background-size: 100% 100%;
                                    width: 0.9em;
                                    height: 0.5em;
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-30%) rotate(-180deg);
                                }
                            }
                        }

                        // 言語選択ホバー
                        &:hover {
                            border-color: orangered;
                        }

                        // 言語選択枠内調整
                        p {
                            position: relative;
                            @include flex_center;
                            width: 8em;
                            height: 2.4em;
                            padding: 0 1.2em 0 2.3em;
                            transform: translateY(8%);
                            -webkit-transform: translateY(8%);
                            -moz-transform: translateY(8%);
                            -ms-transform: translateY(8%);
                            -o-transform: translateY(8%);

                            // グローバルマーク
                            &::before {
                                content: "";
                                position: absolute;
                                background: url(#{$path_img}/common/global.webp) no-repeat;
                                background-size: 100% 100%;
                                aspect-ratio: 1 / 1;
                                width: 2em;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                            }

                            // 矢印
                            &::after {
                                content: "";
                                position: absolute;
                                background: url(#{$path_img}/common/lang_arrow.webp) no-repeat;
                                background-size: 100% 100%;
                                width: 0.9em;
                                height: 0.5em;
                                top: 50%;
                                right: 0;
                                transition: transform 0.4s;
                                transform: translateY(-40%);
                            }

                            // 現在表示言語
                            .current_language {
                                position: absolute;
                                top: 14%;
                                font-size: 1.9rem;

                                &:lang(en) {
                                    top: 15%;
                                }
                            }
                        }
                    }

                    // 言語選択
                    .lang_sel_judge {
                        // 言語選択欄初め非表示
                        .language_selectArea {
                            padding: 0;
                            margin: 0;
                            height: 0;
                            overflow: hidden;
                            border: none;

                            // 言語選択欄
                            .language_selectArea_list {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                background: rgba(0, 0, 0, 0.8);
                                border: gray 4px solid;
                                border-top: none;
                                padding: 15% 5%;
                                z-index: 1;

                                // 各言語
                                .language_names {
                                    @include flex_center;
                                    flex-direction: column;
                                    color: #fff;
                                    font-size: 2rem;
                                    padding: 15% 0 2% 0;
                                    position: relative;
                                    will-change: opacity;

                                    // 言語名初めのみ上部余白なし
                                    &:first-child {
                                        padding-top: 0;
                                    }

                                    // 言語名ホバー時
                                    &.selected {
                                        color: orange;
                                    }

                                    // 言語名メイン
                                    .language_mainName {
                                        font-size: 1.9rem;
                                        transform: translateY(6%);
                                    }

                                    // 言語名サブ
                                    .language_subName {
                                        font-size: 1.2rem;
                                        transform: translateY(6%);
                                    }

                                    // 言語名選択時下線
                                    &::before {
                                        background: #ff701e;
                                        content: "";
                                        width: 100%;
                                        height: 2px;
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        margin: auto;
                                        transform-origin: center top;
                                        transform: scale(0, 1);
                                        transition: transform 0.3s;
                                    }
                                    // +
                                    &:hover::before {
                                        transform-origin: center top;
                                        transform: scale(1, 1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* メインインナー
====================================================*/

    // トップページ画像
    .top_images {
        position: relative;
        width: 99.1vw;
        height: 33.6vw;
        background: url(#{$path_img}/common/bg_ribbon.webp) -14vw 32.3vw no-repeat,
            url(#{$path_img}/common/bg.jpg) center top repeat-y;
        background-size: auto 1.3vw, 100%;

        // トップページマニュアルタイトル
        &::after {
            display: block;
            @include right_left;
            top: auto;
            bottom: 3%;
            content: "";
            background: url(#{$path_img}/common/manual_title.webp) no-repeat;
            background-size: 100%;
            width: 80%;
            height: 35%;
            z-index: 4;
        }

        &:lang(ja) {
            // MHFZZロゴ
            &::before {
                display: block;
                position: absolute;
                content: "";
                background: url(#{$path_img}/ja/MHFZZ_logo.webp) center 1vw no-repeat;
                background-size: 100%;
                width: 25%;
                height: 30%;
                top: -1%;
                left: -1%;
                z-index: 3;
            }
        }

        &:lang(en) {
            // MHFZZロゴ
            &::before {
                display: block;
                position: absolute;
                content: "";
                background: url(#{$path_img}/en/MHFZZ_logo.webp) center 1vw no-repeat;
                background-size: 100%;
                width: 25%;
                height: 30%;
                top: -1%;
                left: -1%;
                z-index: 3;
            }
        }

        // トップページ画像位置調整
        .bg {
            width: 88.3%;
            @include right_left;
        }
    }

    // サイドメニュー及びメインコンテンツ位置調整
    .main_inner {
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        margin: 0 auto;
    }

    /* サイドメニュー
====================================================*/

    // トップページ画像との距離
    .side_menu {
        position: relative;
        width: 270px;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        margin: 4% 0;

        // サイドメニュー上部装飾
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background: #1ecbff;
        }

        // サイドメニュー下部装飾
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background: #1ecbff;
        }

        // サイドメニュー本体
        .categories {
            // メインカテゴリー
            .category {
                border-top: 1px solid #b2b5cb;
                background-color: #dcdfe4;

                // 初めのメニューのみトップボーダー削除
                &:nth-child(1) {
                    border-top: none;
                }

                // メインカテゴリーオープン時
                &.open {
                    // メニューオープン時
                    .category_title {
                        color: #fff;
                        background-color: #61a7f7;

                        // 開閉マークオープン時
                        .mark {
                            background-color: #5390d4;

                            // 開閉マーク縦線変化
                            &::before {
                                background: transparent;
                                transform: rotate(360deg);
                            }

                            // 開閉マーク横線変化
                            &::after {
                                background: #adb4c2;
                                transform: rotate(540deg);
                            }
                        }
                    }
                }

                // サブカテゴリー
                .sub_categories {
                    padding: 0;
                    margin: 0;
                    height: 0;
                    overflow: hidden;
                    transition: 0.5s;
                    border-top: none;
                    background: rgba(85, 85, 85, 0.3);
                    box-shadow: 0px 0px 8px 7px #7c7c7c inset;

                    // サブカテゴリー内部装飾
                    .sub_categories_list {
                        @include flex_center;
                        flex-direction: column;
                        justify-content: space-around;
                        border: 2px solid #b2b5cb;
                        border-top: none;
                        line-height: 3;

                        // サブカテゴリー内部テキスト
                        .sub_category {
                            position: relative;
                            font-weight: 600;
                            font-size: 1.7rem;
                            color: #000;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            line-height: 1.6;
                            padding: 8% 8% 8% 28%;
                            width: 100%;

                            // サブカテゴリーホバー時
                            &:hover {
                                background: rgba(77, 77, 77, 0.3);
                                text-shadow: 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke,
                                    10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke,
                                    -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke,
                                    0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke,
                                    0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke,
                                    0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke;
                            }

                            // サブカテゴリーページ表示時
                            &.selected {
                                position: relative;
                                background: rgba(77, 77, 77, 0.3);
                                text-shadow: 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke,
                                    10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke,
                                    -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke,
                                    0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke,
                                    0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke,
                                    0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke;

                                // 肉球アイコン
                                &::before {
                                    content: "";
                                    position: absolute;
                                    background: url(#{$path_img}/common/icon_paw.webp) center left no-repeat;
                                    top: 14%;
                                    left: 4%;
                                    width: 17%;
                                    height: 50px;
                                    background-size: 100%;
                                    transition-duration: 0.2s;
                                }
                            }
                        }
                    }
                }

                // カテゴリータイトル
                .category_title {
                    @include flex_center;
                    position: relative;
                    width: 100%;
                    border: none;
                    font-weight: 600;
                    font-size: 2rem;
                    padding: 20px 0 20px 30px;
                    transition-property: background-color, color;
                    transition-duration: 0.3s, 0.2s;
                    transition-timing-function: ease;

                    // 開閉マーク領域
                    .mark {
                        display: block;
                        width: 30px;
                        height: 100%;
                        background-color: #e1e6ef;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all 0.3s ease;

                        // 開閉マーク縦線
                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 12px;
                            height: 2px;
                            background: #05162e;
                            margin: auto;
                            transition: all 0.3s ease-in-out;
                            z-index: 5;
                        }

                        // 開閉マーク横線
                        &::after {
                            position: absolute;
                            content: "";
                            display: block;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 12px;
                            height: 2px;
                            background: #05162e;
                            margin: auto;
                            transform: rotate(90deg);
                            transition: all 0.3s ease-in-out;
                            z-index: 6;
                        }
                    }

                    // メニューホバー時
                    &:hover {
                        color: #fff;
                        background-color: #61a7f7;

                        // 開閉マークホバー時
                        .mark {
                            background-color: #5390d4;
                        }
                    }
                }
            }
        }
    }

    /* 記事汎用
====================================================*/

    // メインタイトルh1
    h1 {
        background: url(#{$path_img}/common/title_frame.webp) center no-repeat;
        background-size: 100% auto;
        padding: 2.7% 2%;
        margin: 2%;
        color: black;
        font-weight: 600;
        font-size: 4rem;
        text-align: center;
    }

    // サブタイトルh2
    h2 {
        position: relative;
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
        color: #4d4d4f;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
        margin-bottom: 10%;

        // サブタイトル上部装飾
        &::before {
            content: "";
            @include right_left;
            top: -90%;
            width: 90%;
            height: 28px;
            background: url(#{$path_img}/common/subtitle_upper.webp) center top no-repeat;
            background-size: 100%;
            -webkit-filter: drop-shadow(0px 2px 5px rgb(50, 50, 50));
            filter: drop-shadow(0px 2px 5px rgb(50, 50, 50));
        }

        // サブタイトル下部装飾
        &::after {
            content: "";
            @include right_left;
            top: auto;
            bottom: -97%;
            width: 90%;
            height: 28px;
            background: url(#{$path_img}/common/subtitle_lower.webp) center bottom no-repeat;
            background-size: 100%;
            -webkit-filter: drop-shadow(0px -2px 5px rgb(50, 50, 50));
            filter: drop-shadow(0px -2px 5px rgb(50, 50, 50));
        }
    }

    // 記事コンテンツ領域
    .contents {
        background: rgba(255, 255, 255, 0.6);
        border: rgba(0, 0, 0, 0.2) solid 2px;
        padding: 2%;
        width: 900px;
        height: 100%;
        margin: 4% 0;
    }

    // 記事内セクションタグ
    section {
        position: relative;
        margin: 10% 8% 0;
    }

    .itemset {
        margin: 0;
        margin-bottom: 5%;

        p {
            font-size: 1.8rem;
            padding-bottom: 1.5%;
        }
    }

    // 目次欄
    .table_contents {
        position: relative;
        padding: 3% 1%;
        margin: 10%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: 0 0 0 2rem #6e6b6d;
        background-color: #6e6b6d;

        // 目次タイトル
        &::before {
            position: absolute;
            top: -11%;
            left: -1%;
            padding: 1% 2%;
            border-radius: 30px;
            border: 2px solid white;
            background-image: linear-gradient(135deg, #f6ceec 10%, #d939cd 100%);
            font-size: 1.8rem;
            color: white;
            content: attr(data-title);
        }

        // 目次リスト
        ul {
            color: white;
            line-height: 2;

            // 項目
            li {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 600;

                a {
                    &:hover {
                        -webkit-text-decoration: underline;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .article_memo {
        position: relative;
        padding: 6.5% 2% 2%;
        background-color: #f1f1f1;
        outline: 2px solid #333;
        outline-offset: -0.5rem;
        margin: 0 7.5% 15%;

        &::before {
            position: absolute;
            top: 1rem;
            left: 0;
            width: 100%;
            padding: 0.5rem 0;
            background-color: rgb(28, 136, 214, 0.7);
            color: white;
            text-align: center;
            content: attr(data-title);
        }

        p {
            color: #333;
            line-height: 1.5;
        }
    }

    // 注意事項
    .notes {
        padding-top: 2%;
        text-align: center;
        p {
            color: #e10000;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    // 上に戻る
    .pagetop {
        cursor: pointer;
        position: fixed;
        right: 30px;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5%;
        height: 7%;
        border-radius: 50%;
        transition: 0.3s;
        color: #00a6c4;
        background: #fff;
        opacity: 0.8;

        // ホバー時明るく
        &:hover {
            box-shadow: 0 0 10px #00a6c4;
            opacity: 1;
        }
    }

    /* 更新履歴
====================================================*/

    // 更新履歴セクション全体
    .news {
        background: url(#{$path_img}/common/frame_upper.webp) center top no-repeat,
            url(#{$path_img}/common/frame_lower.webp) center bottom no-repeat;
        background-size: 100% 20%;
        padding: 0 3.5% 7%;

        // 更新履歴タイトル
        .news_title {
            padding: 4% 0 3% 0;
            font-size: 3.5rem;
            font-weight: 600;
            text-align: center;
            color: #00cc66;
            text-shadow: none;
            margin: 0;

            &::before,
            &::after {
                background: none;
            }
        }

        // 更新履歴内容
        .news_content {
            position: relative;

            // 更新日及びバージョン位置調整
            .content_list {
                .news_date {
                    @include flex_center;
                    border-bottom: solid 2px #000;
                    align-items: flex-start;

                    span {
                        // 更新日
                        &:nth-child(1) {
                            font-size: 3rem;
                            font-weight: 600;
                        }

                        // バージョン
                        &:nth-child(2) {
                            font-family: $font_title_ja;
                            margin-left: 1%;
                            padding: 1px 7px;
                            font-size: 1.5rem;
                            font-weight: 600;
                            background: rgba(245, 245, 220, 0.2);
                            border: solid 2px #000;
                            border-radius: 50%;

                            &:lang(en) {
                                padding: 4px 7px 0;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }

                // 更新内容要約文
                .news_text {
                    font-size: 1.8rem;
                    padding-top: 2%;
                    line-height: 1.6;
                }
            }

            // 詳細を見る
            .news_more {
                position: absolute;
                right: 15%;
                bottom: -36%;
                color: #00cc66;
                font-weight: 600;
                font-size: 1.8rem;
                transition: color 0.3s ease-in-out;

                // 詳細ホバー時
                &:hover {
                    color: #70ebad;
                }
            }
        }
    }

    /* 注目のコンテンツ
====================================================*/

    // 注目リスト上部余白
    .featured_list {
        @include flex_center;
        align-items: flex-start;
        flex-wrap: wrap;

        // リスト内アイテム個別
        li {
            position: relative;
            width: calc(50% - 30px);
            height: 40%;
            margin: 0 15px 6%;

            &:nth-child(n + 5) {
                margin-bottom: 0;
            }

            a {
                // アイテム位置調整
                .featured_items {
                    @include flex_center;
                    flex-direction: column;

                    // アイテム画像
                    .featured_img {
                        width: 90%;
                        margin: 0 0 10px;
                        border: 2px solid #adf;
                        box-sizing: border-box;
                        line-height: 0;
                        transition: border 0.3s;
                        overflow: hidden;
                        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
                        transition: all 0.3s;

                        // 初めに
                        &.first {
                            background: url(#{$path_img}/common/featured/featured_first_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 歌姫狩衛戦・真説
                        &.utahime {
                            background: url(#{$path_img}/common/featured/featured_utahime_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // ラヴィエンテ猛狂期
                        &.lavi {
                            background: url(#{$path_img}/common/featured/featured_lavi_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 天廊遠征録
                        &.tenrou {
                            background: url(#{$path_img}/common/featured/featured_tenrou_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 狩煉道
                        &.road {
                            background: url(#{$path_img}/common/featured/featured_road_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 復帰区
                        &.return {
                            background: url(#{$path_img}/common/featured/featured_return_bg.webp) center no-repeat;
                            background-size: 101%;
                        }
                    }

                    // アイテムテキスト
                    .featured_text {
                        font-weight: 600;
                        font-size: 1.9rem;
                        text-align: center;
                    }
                }

                // ホバー時画像拡大
                &:hover {
                    .featured_items {
                        .featured_img {
                            background-size: 120%;
                            border: 2px solid rgb(146, 255, 255);
                        }
                    }
                }
            }
        }
    }

    /* 外部リンク
====================================================*/

    // 外部リスト
    .extlink_list {
        @include flex_center;
        flex-direction: column;

        // 外部リスト内アイテム個別
        .extlink_items {
            width: 80%;
            margin: 0 4% 5% 4%;

            // アイテムリンク
            .extlink_items_link {
                display: block;
                position: relative;
                z-index: 3;

                // タイトル左側マーク
                &::before {
                    display: block;
                    @include up_down;
                    content: "";
                    left: 15%;
                    width: 40px;
                    aspect-ratio: 1 / 1;
                    z-index: 5;
                }

                // タイトル右側矢印
                &::after {
                    @include up_down;
                    display: block;
                    content: "";
                    background: url(#{$path_img}/common/extlink/extlink_arrow.webp) center no-repeat;
                    background-size: contain;
                    width: 15%;
                    height: 15%;
                    left: auto;
                    right: 4%;
                    z-index: 5;
                }

                // 初心者ガイド
                &.beginner_guide {
                    // 左側マーク
                    &::before {
                        background: url(#{$path_img}/common/extlink/beginnermark.webp) center no-repeat;
                        background-size: contain;
                    }

                    // 背景
                    .extlink_text_adj {
                        background: url(#{$path_img}/common/extlink/extlink_beginner_bg.webp) center no-repeat;
                        background-size: 95% 96%;
                    }
                }

                // よくある質問
                &.faq {
                    // 左側マーク
                    &::before {
                        background: url(#{$path_img}/common/extlink/faqmark.webp) center no-repeat;
                        background-size: contain;
                    }

                    // 背景
                    .extlink_text_adj {
                        background: url(#{$path_img}/common/extlink/extlink_faq_bg.webp) center no-repeat;
                        background-size: 95% 96%;
                    }
                }

                // 外部フレーム
                .extlink_frame {
                    position: relative;
                    z-index: 4;
                }

                // アイテム内部配置調整及び背景画像
                .extlink_text_adj {
                    @include flex_center;
                    justify-content: flex-start;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 15% 0 27%;
                    background-size: 95% 96%;

                    // アイテム内部テキスト調整
                    .extlink_text_content {
                        z-index: 5;
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;

                        // テキストタイトル
                        .extlink_text_title {
                            display: inline-block;
                            position: relative;
                            font-style: italic;
                            font-weight: 600;
                            font-family: $font_title_ja;
                            color: #fff;
                            font-size: 3rem;
                            text-shadow: 0.156vw 0.156vw 0.156vw rgb(0 0 0 / 50%);
                            margin: 0;
                        }
                    }
                }

                // キャラクター画像調整
                .extlink_chara {
                    position: absolute;
                    z-index: 3;
                    width: 95%;
                    height: 95%;
                    top: 2%;
                    right: 3%;
                    overflow: hidden;
                }
            }
        }
    }

    /* フッター
====================================================*/

    // フッター背景
    footer {
        background: url(#{$path_img}/common/footer/footer_bg.webp) center top no-repeat;
        background-color: #000;
        background-size: 100%;

        // フッターセクション余白調整
        .footer_link {
            margin: 0 auto;
            width: 90%;
            padding-top: 5%;

            // リンクリスト
            .footer_link_list {
                @include flex_center;
                align-items: flex-start;
                flex-wrap: wrap;

                // リスト間隔調整
                li {
                    position: relative;
                    width: calc(30% - 30px);
                    height: 40%;
                    margin: 0 20px;

                    // リストアイテム内部調整
                    .footer_list_items {
                        display: flex;
                        align-items: center;
                        position: relative;
                        height: 95px;
                        background-color: #000;
                        border: 2px solid #fff;
                        color: #fff;

                        // アイテム画像
                        .footer_list_img {
                            @include flex_center;
                            position: relative;
                            width: 19%;
                            height: 100%;
                            //background: rgba(255, 255, 255, 0.9);
                        }

                        // 画像ーテキスト間の仕切り
                        .footer_list_img::after {
                            content: "";
                            width: 2px;
                            height: 102%;
                            background-color: #fff;
                            @include up_down;
                            left: 100%;
                        }

                        // アイテムタイトル
                        .footer_list_title {
                            font-size: 2rem;
                            font-weight: bold;
                            color: #fff;
                            padding: 5% 10% 5% 5%;
                        }

                        // アイテム矢印
                        &::after {
                            @include up_down;
                            left: auto;
                            right: 3%;
                            content: "";
                            background: url(#{$path_img}/common/footer/footer_list_items_arrow.webp) center no-repeat;
                            background-size: cover;
                            width: 35px;
                            aspect-ratio: 1 / 1;
                        }
                    }
                }
            }

            // フッターテキスト領域
            .footer_text {
                padding: 3% 0 2%;
                text-align: center;

                // お断り文
                .footer_text_disclaimer {
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/*=========================================================
　　　　　以下SP表示
=======================================================*/
@mixin sp {
    /* ヘッダー
====================================================*/
    /* ヘッダー帯 */
    header {
        display: flex;
        background: #000;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 17vw;
            width: 100%;
            height: 1.5vw;
            background: rgb(200, 200, 200);
        }
    }

    /* ヘッダーロゴ */
    .header_logo {
        margin: 1% 31%;

        a {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 38vw;
        }

        img {
            height: 15vw;

            // ロゴテキスト画像
            &:nth-child(2) {
                height: 10vw;
                margin-left: 2%;
            }
        }
    }

    /* 本文
====================================================*/
    /* コンテンツ調整のため */
    .wrapper {
        min-height: auto;
    }
    /* 本文位置調整 */
    .error_page {
        display: flex;
        justify-content: center;
        flex: 1;
        flex-direction: column;
    }

    /* 本文 */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20vw 0;

        // タイトル
        h1 {
            font-size: 2.2rem;
            padding: 5% 3% 1%;

            &:lang(en) {
                font-size: 3.4rem;
            }
        }

        // 内容
        p {
            text-align: center;
            font-size: 1.4rem;
            padding: 7%;

            &:lang(en) {
                font-size: 1.5rem;
            }
        }
    }

    /* コケ猫 */
    .kokecat {
        width: 70vw;
    }

    /* フッター
====================================================*/
    /* フッター帯 */
    footer {
        display: block;
        position: relative;
        background: #000;

        // フッター帯上部装飾
        &::before {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5vw;
            background: rgb(200, 200, 200);
        }

        // フッター内コンテンツ調整
        .footer_bar_contents {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            padding: 4vw;

            /* フッターロゴ */
            .footer_logo {
                a {
                    display: block;
                    line-height: 0;
                }

                img {
                    height: 13vw;
                    width: auto;
                }
            }
        }
    }

    /* フッターテキスト */
    .footer_text {
        line-height: 1.7;
        padding: 4% 1% 0;

        // テキスト調整
        p {
            color: white;
            font-size: 1rem;
            text-align: center;

            &:lang(en) {
                font-size: 1.2rem;
            }
        }
    }
}
