@charset "UTF-8";

@use "breakpoint" as *;
@use "../global" as *;

/*==================================
　　　　　初期設定
==================================*/
// ボトムメニューオープン時スクロール禁止
html {
    &.fixed {
        height: 100%;
        overflow: hidden;
    }
}

body {
    height: auto;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
