@charset "UTF-8";

@use "breakpoint" as *;
@use "../global" as *;

/*==================================
　　　　　初期設定
==================================*/
/* body */
body {
    height: auto;
    -webkit-text-size-adjust: 100%;
}

/* wrapper初期設定 */
.wrapper {
    width: 100%;
    overflow: hidden;
}
