.DS_Store
node_modules
/build
.svelte-kit
/package
.vscode
.env
.env.*
.prettierrc
.npmrc
!.env.example
.cloudflare
robots.txt
src\routes\[lang=lang]\(manual)\manual\workspace\+page.svelte
changelog.txt
vite.config.js.timestamp-*
vite.config.ts.timestamp-*