.DS_Store
node_modules
/build
.svelte-kit
/package
.vscode
.env
.env.*
.prettierrc
.npmrc
!.env.example
.cloudflare
robots.txt
src/routes/admin/*.ts
signup/
changelog.txt
vite.config.js.timestamp-*
vite.config.ts.timestamp-*