@charset "UTF-8";

@use 'pc' as *;
@use 'sp' as *;
@use '../global' as *;

/*==================================
　　　　　初期設定
==================================*/
body {
    height: auto;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

// コンテンツ注意事項（tooltipsにも使用するため、外に出す）
.console_contents_note {
    color: #ff4b4b;
}