@charset "UTF-8";

@use 'pc' as *;
@use 'sp' as *;
@use '../global' as *;

/*==================================
　　　　　初期設定
==================================*/
body {
    background: linear-gradient(#99999961,1%, #ffffff94);
    color: #333333;
    height: auto;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
