@charset "UTF-8";
@use '../global/' as *;

@include pc() {
    /* ヘッダー
====================================================*/
    header {
        background: #000;
        width: 100%;
        height: 70px;
        position: relative;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.2vw;
            background: rgb(190, 193, 195);
        }

        // ヘッダー内部
        .header_inner {
            width: 100%;
            height: 67px;
            @include flex_center;
            justify-content: space-between;

            // プラットフォーム
            .header_platform {
                position: relative;
                width: 70px;
                height: 70px;
                cursor: auto;

                // プラットフォーム画像
                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 10%;
                    content: '';
                    width: 70px;
                    aspect-ratio: 1 / 1;
                    background: url(#{$path_img}/common/platform_pc.webp) no-repeat center center;
                    background-size: auto 75%;
                }
            }
        }
    }

    /* 管理者コンソール
====================================================*/
    // 保存成功表示
    .msg_display {
        position: relative;
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
        background: #1b8c00;
        padding: 1% 2%;
        margin: 1% 20%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

        // 閉じるボタン
        .msg_close_btn {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 2%;
            transform: translateY(-50%);
            user-select: none;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 5px;
                height: 30px;
                background: #dae0e0;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        // エラー詳細表示ボタン
        .error_view_btn {
            position: absolute;
            top: 0;
            right: 6%;
            font-size: 1.5rem;
            padding: 1% 1.5% 0.5%;
            border: 2px gray solid;
            background: white;
            color: #333333;
            transform: translateY(25%);
        }
    }

    // コンソール画面本体
    .console_body {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        padding: 50px 0 0 140px;

        // コンソールメニュー側
        .console_menu_list {
            min-width: 80px;
            height: 100%;

            // メニュー各項目
            .console_menu_list_item {
                width: 40px;
                height: 40px;
                margin: 0 auto 32px;
                cursor: pointer;

                .console_menu_list_link {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    .console_menu_list_text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #333333;
                        font-size: 1.2rem;
                        width: 150px;
                        height: 40px;
                        border-radius: 10px;
                        background: #e9eced;
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                        transition: all 0.2s;
                        transform: translateX(30px);
                        opacity: 0;
                        pointer-events: none;
                        user-select: none;
                    }

                    &:hover {
                        .console_menu_list_text {
                            transform: translateX(60px);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        // コンソールコンテンツ側
        .console_contents {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            // コンソールコンテンツ各項目
            .console_contents_list_item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                padding: 5% 0;

                // 見出しタイトル表示
                .console_head {
                    font-weight: 700;
                    font-size: 1.8rem;
                    text-align: center;
                }

                // 各項目リスト
                .each_item_contents_list {
                    width: 100%;
                    text-align: center;
                    padding-top: 10%;

                    // 各項目内容
                    .each_item_contents {
                        display: flex;
                        justify-content: space-between;
                        padding: 2% 0;

                        p {
                            padding-right: 3%;
                        }

                        // ユーザー情報各項目
                        .user_info_item {
                            width: 40%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                        }
                    }

                    // 編集ボタン
                    .edit_btn {
                        width: 10%;
                    }
                }

                // フォームエリア
                .console_form_section {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    // インプットエリア調整
                    label {
                        display: flex;
                        justify-content: space-between;

                        input {
                            padding-left: 1%;
                            margin-left: 1%;
                            float: right;

                            &#info_title,
                            &#info_url {
                                width: 85%;
                            }
                        }
                    }

                    // 保存/キャンセルボタン
                    .save_cancel_btn {
                        text-align: center;
                    }

                    // 削除ボタン
                    .del_info_btn {
                        position: absolute;
                        top: -10%;
                        right: 0;
                        color: red;
                    }

                    // ユーザーBanボタン
                    .ban_user_btn {
                        position: absolute;
                        top: -10%;
                        right: 0;
                        color: red;
                    }
                }

                // インフォタイプ
                .info_type_group {
                    display: flex;
                    flex-direction: column;
                    padding: 5% 0%;
                }

                // Banユーザー表示
                .banned_user_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    width: 110%;
                    height: 70%;

                    // テキスト
                    .banned_text {
                        color: whitesmoke;
                        font-size: 2rem;
                        font-weight: 700;
                        text-shadow: 3px 3px 5px black;
                    }

                    // Ban解除ボタン
                    .remove_ban_btn {
                        color: red;
                        font-weight: 700;
                        font-size: 1.8rem;
                        text-shadow: 3px 3px 5px black;
                        margin: 5% 0 10% 0;
                    }
                }
            }

            // 追加ボタン
            .add_info_btn {
                position: absolute;
                top: 7%;
                right: 20%;
            }
        }
    }

    /* ユーザーコンポーネント内キャラクター概要リスト
====================================================*/
    // キャラクターなし
    .no_character_msg {
        text-align: center;
        color: #ff8100;
    }

    // リスト本体
    .character_list {
        width: 100%;

        //　各キャラクター
        .character_list_item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 5%;
        }
    }

    /* モーダルウィンドウ
====================================================*/
    .modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        // モーダルコンテンツ
        .modal_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            background-color: #f4f4f4;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

            // ヘッダー
            .modal_header {
                background: lightblue;
                padding: 3px 15px;
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 3rem;
                    margin: 1% 0;
                }
            }

            // 内容
            .modal_body {
                padding: 10px 20px;
                color: black;

                // モーダルリスト
                .modal_list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 2%;

                    // リストアイテム
                    .modal_list_item {
                        text-align: center;

                        // アイテム見出し用
                        p {
                            font-size: 1.7rem;
                            font-weight: 700;
                        }
                    }
                }
            }

            // Ban/キャンセルボタン
            .ban_btn_group {
                text-align: center;
                padding: 1%;

                :first-child {
                    color: red;
                }
            }
        }
    }
}
