@charset "UTF-8";
@use '../global/' as *;

@include pc() {
    /* 管理者コンソール
====================================================*/
    // 保存成功表示
    .status_display {
        position: absolute;
        top: 1%;
        left: 48%;
        color: #393842;
        font-size: 1.8rem;
        font-weight: 700;
        background: #c2e5e7;
        border: 2px #90bbbd solid;
        border-radius: 30px;
        padding: 0.4% 1%;
    }

    // コンソール画面本体
    .console_body {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        padding-left: 140px;

        // コンソールメニュー側
        .console_menu_list {
            min-width: 180px;
            height: 100%;

            // メニュー各項目
            .console_menu_list_item {
                cursor: pointer;
            }
        }

        // コンソールコンテンツ側
        .console_contents {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            // コンソールコンテンツ各項目
            .console_contents_list_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                padding: 5% 0;

                // 見出しタイトル表示
                .console_head {
                    font-weight: 700;
                    font-size: 1.8rem;
                    text-align: center;
                }

                // 各項目リスト
                .each_item_contents_list {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 10%;

                    // 各項目内容
                    .each_item_contents {
                        display: flex;
                        justify-content: space-between;
                        padding: 2% 0;

                        p {
                            padding-right: 1%;
                        }
                    }

                    // 編集ボタン
                    .edit_btn {
                        width: 10%;
                    }

                    &:last-child {
                        padding: 0;
                    }
                }

                // フォームエリア
                .console_form_section {
                    position: relative;
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    // インプットエリア調整
                    label {
                        input {
                            padding-left: 1%;
                            margin-left: 1%;
                            float: right;

                            &#info_title,
                            &#info_url {
                                width: 85%;
                            }
                        }
                    }

                    // 保存/キャンセルボタン
                    .save_cancel_btn {
                        text-align: center;
                    }

                    // 削除ボタン
                    .del_info_btn {
                        position: absolute;
                        top: -6%;
                        right: 0;
                        color: red;
                    }
                }

                // インフォタイプ
                .info_type_group {
                    display: flex;
                    flex-direction: column;
                }
            }

            // 追加ボタン
            .add_info_btn {
                position: absolute;
                top: 7%;
                right: 20%;
            }
        }
    }
}
