@charset "UTF-8";
@use '../global/' as *;

@include pc() {
    /* 管理者コンソール
====================================================*/
    // 保存成功表示
    .status_display {
        position: absolute;
        top: 1%;
        left: 48%;
        color: #393842;
        font-size: 1.8rem;
        font-weight: 700;
        background: #c2e5e7;
        border: 2px #90bbbd solid;
        border-radius: 30px;
        padding: 0.4% 1%;
    }

    // コンソール画面本体
    .console_body {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        padding-left: 140px;

        // コンソールメニュー側
        .console_menu_list {
            min-width: 180px;
            height: 100%;

            // メニュー各項目
            .console_menu_list_item {
                cursor: pointer;
            }
        }

        // コンソールコンテンツ側
        .console_contents {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            // コンソールコンテンツ各項目
            .console_contents_list_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                padding: 5% 0;

                // 見出しタイトル表示
                .console_head {
                    font-weight: 700;
                    font-size: 1.8rem;
                    text-align: center;
                }

                // 各項目リスト
                .each_item_contents_list {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 10%;

                    // 各項目内容
                    .each_item_contents {
                        display: flex;
                        justify-content: space-between;
                        padding: 2% 0;

                        p {
                            padding-right: 1%;
                        }
                    }

                    // 編集ボタン
                    .edit_btn {
                        width: 10%;
                    }

                    &:last-child {
                        padding: 0;
                    }
                }

                // フォームエリア
                .console_form_section {
                    position: relative;
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    // インプットエリア調整
                    label {
                        input {
                            padding-left: 1%;
                            margin-left: 1%;
                            float: right;

                            &#info_title,
                            &#info_url {
                                width: 85%;
                            }
                        }
                    }

                    // モーダルウィンドウ
                    .modal {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        overflow: auto;
                        background-color: rgba(0, 0, 0, 0.5);

                        // モーダルコンテンツ
                        .modal_content {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 50%;
                            background-color: #f4f4f4;
                            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

                            // ヘッダー
                            .modal_header {
                                background: lightblue;
                                padding: 3px 15px;
                                display: flex;
                                justify-content: space-between;

                                h1 {
                                    font-size: 3rem;
                                    margin: 1% 0;
                                }
                            }

                            // 内容
                            .modal_body {
                                padding: 10px 20px;
                                color: black;

                                // モーダルリスト
                                .modal_list {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-evenly;
                                    padding: 2%;

                                    // リストアイテム
                                    .modal_list_item {
                                        text-align: center;

                                        // アイテム見出し用
                                        p {
                                            font-size: 1.7rem;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // 保存/キャンセルボタン
                    .save_cancel_btn {
                        text-align: center;
                    }

                    // Ban/キャンセルボタン
                    .ban_cancel_btn {
                        text-align: center;
                        padding: 1%;

                        :first-child {
                            color: red;
                        }
                    }

                    // 削除ボタン
                    .del_info_btn {
                        position: absolute;
                        top: -6%;
                        right: 0;
                        color: red;
                    }

                    // ユーザーBanボタン
                    .ban_user_btn {
                        position: absolute;
                        top: -8%;
                        right: 0;
                        color: red;
                    }
                }

                // インフォタイプ
                .info_type_group {
                    display: flex;
                    flex-direction: column;
                }
            }

            // 追加ボタン
            .add_info_btn {
                position: absolute;
                top: 7%;
                right: 20%;
            }
        }
    }
}
