@charset "UTF-8";
@use '../global/' as *;

@include sp() {
    body {
        font-size: 1.5rem !important;
    }

    /* ヘッダー
====================================================*/

    // ヘッダー帯
    header {
        background: #000;
        width: 100%;
        height: 70px;
        position: relative;
        z-index: 1;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.6vw;
            background: rgb(190, 193, 195);
        }

        // ヘッダー内部
        .header_inner {
            width: 100%;
            height: 67px;
            @include flex_center;
            align-items: flex-start;
            justify-content: space-between;

            // プラットフォーム
            .header_platform {
                position: relative;
                cursor: auto;

                // プラットフォーム画像
                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 67px;
                    background: url(#{$path_img}/common/platform_sp_portrait.webp) no-repeat center center;
                    background-size: auto 75%;

                    @include landscape {
                        content: '';
                        width: 100px;
                        height: 63px;
                        background: url(#{$path_img}/common/platform_sp_landscape.webp) no-repeat center center;
                        background-size: auto 75%;
                    }
                }
            }

            // ヘッダーロゴ
            .header_logo {
                display: flex;
                @include pos_center;

                .header_logo_button {
                    width: 110px;
                    height: 70px;
                    background: url(#{$path_img}/common/rain_textlogo.webp) center center no-repeat;
                    background-size: 100%;

                    @include landscape {
                        width: 120px;
                        height: 70px;
                        background-position: center 6px;
                    }
                }
            }
        }
    }

    /* 管理者コンソール
====================================================*/

    // 背景画像
    .background_img {
        display: none;
    }

    // コンソール画面本体
    .console_body {
        display: flex;
        margin: 0px auto;
        justify-content: center;

        // コンソールコンテンツ側
        .console_article {
            width: 100%;
            min-height: 700px;
            padding-top: 5%;
            background: #f5f6f7;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;

            // 管理者コンソールタイトル
            h1 {
                position: relative;
                padding-left: 45px;
                margin: 0 30px;
                border-bottom: solid 3px #65696a;
                font-size: 3rem;
                font-weight: 700;
                user-select: none;

                .material-symbols-outlined {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 4.5rem;
                }

                // 緑ボタン調整
                .green_btn {
                    bottom: -140%;
                }
            }

            // 各項目タイトル表示
            h2 {
                position: relative;
                padding-left: 45px;
                font-size: 2rem;
                margin: 12% 0 0 5%;
                user-select: none;

                .material-icons {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 4rem;
                }

                // ランチャーインフォ用h2タイトル装飾
                @each $infotype, $color in $infoColorMap {
                    &.#{$infotype} {
                        color: $color;
                    }
                }
            }

            // 各コンテンツ
            .console_contents {
                display: flex;
                flex-direction: column;
                margin: 0% 5% 5%;
                background: #fff;
                padding: 3%;

                // ペジネーションボタングループ
                .pagination_btn_list {
                    text-align: center;
                    user-select: none;
                    margin: 2% 0;

                    // 各ボタン
                    .pagination_btn_item {
                        padding: 6px 6px 5px;
                        margin: 0 3%;
                        border: #272727 solid 1px;
                        background: #f7f6f6;
                        color: #272727;
                        transition: all 0.3s;

                        // ホバー時
                        &.active {
                            border: #f7f6f6 solid 1px;
                            background: #272727;
                            color: #f7f6f6;
                        }
                    }
                }

                // コンテンツ内リストタイトル
                .console_contents_list_title {
                    position: relative;
                    width: 100%;
                    font-size: 2rem;
                    padding: 10% 0 0 3%;
                    color: #df9e27;
                    user-select: none;
                    border-bottom: #df9e27 2px solid;
                    font-weight: 700;

                    @include landscape {
                        display: flex;
                    }

                    // 赤ボタン調整
                    .red_btn {
                        position: absolute;
                        bottom: 10%;
                        right: 0;
                    }

                    // ユーザー内情報切り替えパネル
                    .user_ctrl_panel {
                        display: flex;
                        color: #333333;
                        width: fit-content;

                        @include landscape {
                            padding-left: 2%;
                        }

                        // タブボタン
                        button {
                            font-size: 3rem;

                            // アクティブ時
                            &.active {
                                font-variation-settings: 'FILL' 1;
                            }
                        }
                    }

                    // クラン名調整
                    &.clan_name {
                        font-size: 1.7rem;

                        @include landscape {
                            font-size: 2rem;
                        }
                    }
                }

                // キャラクターリスト用スワイパー
                swiper-container {
                    position: relative;

                    // swiperコンテナ調整
                    swiper-slide {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }

                    // スワイパー矢印ボタン調整
                    &::part(button-prev) {
                        display: none;
                    }
                    &::part(button-next) {
                        display: none;
                    }
                }

                // コンテンツ内リスト
                .console_contents_list {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 3%;

                    // コンテンツアイテムタイトル
                    .contents_term {
                        width: 35%;
                        font-weight: 700;
                        padding: 3% 2% 2%;
                        border-bottom: 1px gray dashed;
                        user-select: none;
                        overflow-wrap: break-word;

                        .contents_term_required {
                            color: #f17373;
                            font-size: 1.3rem;
                        }
                    }

                    // コンテンツアイテム説明
                    .contents_desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 65%;
                        padding: 3% 2% 2% 0;
                        border-bottom: 1px gray dashed;
                        overflow-wrap: break-word;

                        // 編集モード切り替えボタン
                        .edit_btn {
                            position: relative;
                            right: 0;
                            color: darkslategray;
                            background: #fff;
                            border: 1px solid darkslategray;
                            font-size: 1.6rem;
                            width: 18%;
                            padding: 0.3% 4% 0 0;
                            margin: 1% 0;
                            text-align: right;

                            .material-icons {
                                position: absolute;
                                left: 20%;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 2.2rem;
                            }
                        }

                        // ノーマルボタン調整
                        .normal_btn {
                            margin: 3% 0;
                        }

                        // 赤ボタン調整
                        .red_btn {
                            margin: 3% 0;
                        }

                        // クランメンバ－一覧
                        .clan_members {
                            display: grid;
                            column-gap: 20px;
                            row-gap: 20px;
                            grid-template-columns: repeat(2, 1fr);
                            width: 85vw;
                            margin: 8vh calc(50% - 56vw) 0;

                            span {
                                font-size: 1.3rem;

                                @include landscape {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }

                // コンテンツ注意事項
                .console_contents_note {
                    color: red;
                }

                // ボタングループ化
                .group_btns {
                    display: flex;
                    justify-content: space-evenly;
                }
            }

            // 緑ボタン調整
            .green_btn {
                position: absolute;
                right: 0;
                z-index: 1;

                .btn_icon {
                    padding: 5px;
                }

                .btn_text {
                    display: none;
                }
            }
        }
    }

    /* コンソールメニュー
====================================================*/
    .console_menu_swiper {
        position: fixed;
        width: 100%;
        bottom: 2%;
        z-index: 2;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        @include landscape {
            bottom: 4%;
        }

        swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;

            // メニュー矢印
            .console_menu_arrow {
                position: absolute;
                width: 0;
                height: 0;
                left: -2px;
                border-left: 40px solid rgb(248, 248, 248);
                border-top: 33.5px solid transparent;
                border-bottom: 33.5px solid transparent;
                transform: translateY(40%);
            }

            // メニュー本体
            .console_menu {
                width: 100%;
                //border-radius: 20px 0 0 20px;
                border-right: 1px rgb(80, 80, 80) solid;
                background: rgb(248, 248, 248);
                user-select: none;

                // メニューリスト
                .console_menu_list {
                    width: 100%;
                    padding: 15px 0;
                    display: flex;
                    display: grid;
                    column-gap: 30px;
                    row-gap: 20px;
                    grid-template-columns: repeat(4, 1fr);
                    justify-content: center;
                    justify-items: center;

                    // メニュー各項目
                    .console_menu_list_item {
                        width: 30px;
                        height: 35px;
                        border-bottom: 1px solid gray;
                        cursor: pointer;

                        .console_menu_list_link {
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            // リンクテキスト（ホバー時に出現）
                            .console_menu_list_text {
                                display: none;
                            }

                            // リンクアイコン
                            .material-symbols-outlined {
                                font-size: 3rem;
                            }
                        }

                        // メニュー最後、下部余白なし
                        &:last-child {
                            margin: 0 auto;
                        }

                        &.active {
                            .material-symbols-outlined {
                                color: #0aa0d2;
                            }

                            .console_menu_list_text {
                                color: #0a61d2;
                            }
                        }
                    }
                }
            }
        }
    }

    /* フォームスタイル
====================================================*/

    // 編集フォーム本体
    .edit_area_box {
        margin: 0px calc(50% - 57vw);
        width: 85vw;

        &#change_all_settings,
        &#admin_control {
            margin: auto;
            width: 100%;
        }

        // フォームdivタグ
        .edit_area {
            display: flex;
            justify-content: space-around;
            background-color: #f0f1f2;

            // ラジオボタン
            &.select {
                align-items: center;
                padding: 4% 2%;

                // フォーム内タイトル
                .edit_area_title {
                    font-size: 1.8rem;
                }
            }

            // 通常
            &.enter {
                flex-direction: column;
                padding: 5%;

                // フォーム内タイトル
                .edit_area_title {
                    border-bottom: #333333 1px solid;
                    padding-left: 2%;
                    margin-bottom: 3%;
                    font-size: 2.2rem;
                }

                // 青ボタン調整
                .blue_btn {
                    margin: 5% auto 0;
                }
            }

            // フォームタイトル
            .edit_area_title {
                display: none;
                font-weight: 700;
                user-select: none;
            }

            // フォーム部品
            .edit_area_box_parts {
                user-select: none;

                // ラジオボタン
                &.radio {
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-bottom: 5%;

                        .material-icons-outlined {
                            font-size: 2.1rem;
                            padding: 0 10px 2px 0;
                        }
                    }

                    //利用権リストタイトル
                    .course_list_title {
                        border-left: 3px solid #808080;
                        padding: 0 0 0.5% 2%;
                        border-bottom: 1px dotted;
                        margin: 0 0 2% 2%;
                    }

                    // 利用権選択リスト
                    .course_list {
                        display: flex;
                        flex-wrap: wrap;

                        // 利用権各項目
                        .course_item {
                            width: calc(50% - 20px);
                            margin: 0 10px 10%;

                            .material-icons-outlined {
                                font-size: 2.1rem;
                                padding: 0 10px 2px 0;
                            }
                        }
                    }
                }

                // テキスト
                &.text {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin: 5% 0;

                    dd {
                        width: 100%;

                        input {
                            width: 100%;
                        }

                        select {
                            width: 100%;
                        }
                    }
                }

                &.admin_ctrl {
                    justify-content: space-between;
                    flex-direction: row;
                    margin: 0 auto;

                    .filter_form {
                        width: 80%;

                        #filter_input {
                            width: 50%;
                            margin-right: 5%;
                        }

                        .filter_select {
                            width: 70%;
                            margin-left: 3%;
                        }
                    }

                    .green_btn {
                        position: static;
                    }
                }

                // ユーザー内コントロールフォーム
                .filter_form {
                    position: relative;
                    display: flex;
                    width: 70%;
                    height: 50px;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }
    }

    /* ボタン関連
====================================================*/

    // ノーマルボタンデフォルト
    .normal_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: darkslategray;
        width: fit-content;
        background: #fff;
        border: 1px solid darkslategray;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;

        // ボタンアイコン
        .btn_icon {
            font-size: 2rem;
            padding: 5px 5px 5px 10px;
        }

        // ボタンテキスト
        .btn_text {
            padding-right: 13px;
            padding-top: 2px;
        }
    }

    // 青ボタンデフォルト
    .blue_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #0aa0d2;
        width: fit-content;
        background: #fff;
        border: 1px solid #0aa0d2;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;
        padding: 5px 11px;

        // ボタンアイコン
        .btn_icon {
            font-size: 2rem;
            padding-right: 5px;
        }

        // ボタンテキスト
        .btn_text {
            line-height: 16px;
        }

        // アクティブ時
        &.active {
            color: #fff;
            background: #2abcec;
            border: 1px solid #2abcec;
        }
    }

    // 赤ボタンデフォルト
    .red_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #de6161;
        width: fit-content;
        background: #fff;
        border: 1px solid #de6161;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;

        // ボタンアイコン
        .btn_icon {
            font-size: 2rem;
            padding: 5px 5px 5px 10px;
        }

        // ボタンテキスト
        .btn_text {
            padding-right: 13px;
            padding-top: 2px;
        }
    }

    // 緑ボタンデフォルト
    .green_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #0ad275;
        width: fit-content;
        background: #fff;
        border: 1px solid #0ad275;
        font-weight: 700;
        font-size: 1.6rem;
        border-radius: 4px;
        transition: all 0.3s;

        // ボタンアイコン
        .btn_icon {
            padding: 5px 5px 5px 10px;
        }

        // ボタンテキスト
        .btn_text {
            padding-right: 13px;
            padding-top: 3px;
        }

        // ロード中
        &.loading_btn {
            border-radius: 50%;
        }
    }

    // ボタンロード中
    .loading {
        width: 15px;
        height: 15px;
        margin: 10px;
        border-radius: 50%;
        border: 0.25rem solid rgb(79 79 79 / 20%);
        border-top-color: black;
        animation: authLoaderAni 1s infinite linear;
        @include authLoaderKey;
    }

    // ボタングループ
    .btn_group {
        display: flex;
        justify-content: space-evenly;
        padding: 5% 0;

        @include landscape {
            padding: 3% 0;
        }
    }

    /* Ban関連
====================================================*/
    // Ban済ユーザー表示
    .banned_user_container {
        position: absolute;
        width: 102%;
        height: 107%;
        top: -7%;
        left: -1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(127, 127, 127, 0.5);
        z-index: 2;
        user-select: none;
        box-shadow: 0 0 20px black;
        border-radius: 20px;

        // テキスト
        .banned_text {
            color: whitesmoke;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
            text-shadow: 3px 3px 5px black;
        }

        // Ban解除ボタン
        .red_btn {
            .btn_icon {
                font-size: 2.5rem;
            }

            .btn_text {
                font-size: 1.7rem;
            }
        }
    }

    /* ユーザーコンポーネント内キャラクターリスト
====================================================*/
    // キャラクターなし
    .no_character_msg {
        text-align: center;
        color: #ff8100;
    }

    //　各キャラクター
    .character_item {
        position: relative;
        width: 100%;
        height: 23vw;

        @include landscape {
            width: 80%;
            height: 20vw;
        }

        // 武器種名に応じて背景変更
        $weaponNames: $weaponNamesArray;
        @each $weapon in $weaponNames {
            &.#{$weapon} {
                background: url(#{$path_img}/common/char_background/#{$weapon}.png) no-repeat 0px 0px / contain;
            }
        }

        // 新規キャラクター編集不可
        &.new {
            cursor: not-allowed;
        }

        // キャラクター名
        .name {
            @include right_left;
            top: 9%;
            font-size: 5.5vw;
            font-weight: 700;
            width: fit-content;

            @include landscape {
                font-size: 4vw;
            }
        }

        // キャラクター削除ボタン
        .delete_character {
            top: 10% !important;
            left: 5% !important;
            z-index: 1;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw;
                }
            }
        }

        // 削除済みアカウントボタン
        .deleted_character {
            top: 10% !important;
            left: 5% !important;
            z-index: 1;
            color: #fff;
            background: #de6161;
            border: 1px solid #de6161;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw;
                }
            }
        }

        // アカウント連携ボタン
        .link_character {
            top: 10% !important;
            right: 5% !important;
            z-index: 1;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw !important;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw !important;
                }
            }
        }

        // 連携済みアカウントボタン
        .linked_character {
            top: 10% !important;
            right: 5% !important;
            z-index: 1;
            color: #fff;
            background: #0ad275;
            border: 1px solid #0ad275;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw !important;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw !important;
                }
            }
        }

        // 武器アイコン
        .wpn_icon {
            position: absolute;
            width: 10%;
            height: 35%;
            top: 46%;
            left: 7%;
            background: url(#{$path_img}/common/char_wpn_icon/NoData.png) no-repeat center center/100%;

            @include landscape {
                width: 10%;
                top: 42%;
                left: 6%;
                background-size: 90% !important;
            }

            // 武器種名に応じてアイコン表示
            $weaponNames: $weaponNamesArray;
            @each $weapon in $weaponNames {
                &.#{$weapon} {
                    background: url(#{$path_img}/common/char_wpn_icon/#{$weapon}.png) no-repeat center center/100%;
                }
            }
        }

        // 武器名
        .wpn_text {
            position: absolute;
            font-weight: 700;
            width: 20%;
            left: 19%;
            top: 48%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 2.6vw;

            @include landscape {
                width: 23%;
                left: 18%;
                top: 44%;
                font-size: 2.2vw;
            }

            &.wpn_name_hover {
                overflow: visible;
            }

            .wpn_name {
                transition: all 0.3s;

                &.active {
                    color: #ffffff;
                }
            }
        }

        // 武器詳細
        .little_endian {
            position: absolute;
            top: 0%;
            left: -18%;
            font-weight: 800;
            font-size: 3vw;
            color: #fb3737;
            background: #fffbf7;
            padding: 1% 2%;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-shadow: 0px 2px 8px #a7a7a7;
            transition: all 0.2s;
            transform: translate(55%, -100%);
            opacity: 0;
            z-index: 2;

            @include landscape {
                font-size: 2.2vw;
            }

            &.wpn_name_hover {
                transform: translate(55%, 0);
                opacity: 1;
            }
        }

        // プレイヤーHR/GR
        .rank {
            position: absolute;
            top: 44%;
            left: 40%;
            font-weight: 700;
            font-size: 2.6vw;

            @include landscape {
                top: 41%;
                left: 42%;
                font-size: 2.1vw;
            }
        }

        // キャラクターID
        .char_id {
            position: absolute;
            top: 57.5%;
            left: 40%;
            font-weight: 700;
            font-size: 2.6vw;

            @include landscape {
                top: 52.5%;
                left: 42%;
                font-size: 2.1vw;
            }
        }

        // 最終ログイン日時（UTC）
        .last_login {
            position: absolute;
            top: 70%;
            left: 40%;
            font-weight: 700;
            font-size: 2.6vw;

            @include landscape {
                top: 64%;
                left: 42%;
                font-size: 2.1vw;
            }
        }
    }

    /* モーダルウィンドウ
====================================================*/
    .modal {
        position: fixed;
        z-index: 998;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        // モーダルコンテンツ
        .modal_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            background-color: #f4f4f4;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

            @include landscape {
                width: 70%;
            }

            // ヘッダー
            .modal_header {
                background: lightblue;
                padding: 3px 15px;
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 2rem;
                    margin: 1% 0;
                }
            }

            // 内容
            .modal_body {
                display: flex;
                padding: 3% 5% 0;
                flex-direction: column;
                align-items: center;
                max-height: 300px;
                overflow-y: scroll;

                @include landscape {
                    max-height: 150px;
                }

                // モーダルリスト
                .modal_list {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 45% 45%;
                    gap: 20px;
                    justify-content: center;
                    padding: 5%;

                    // リストアイテム
                    .modal_list_item {
                        text-align: center;
                        overflow-wrap: break-word;

                        // アイテム見出し用
                        p {
                            background: beige;
                            font-size: 1.6rem;
                            font-weight: 700;
                            margin-bottom: 5px;

                            @include landscape {
                                margin-bottom: 10px;
                            }

                            .material-symbols-outlined {
                                font-size: 1.5rem;
                            }
                        }

                        // 選択ボックス
                        select,
                        input[type='datetime-local'],
                        input[type='text'] {
                            width: 100%;
                        }
                    }
                }

                // モーダル注意文
                .modal_note {
                    text-align: center;
                    color: red;
                    font-weight: 700;
                    font-size: 1.4rem;
                }
            }
        }
    }

    /* フッター
====================================================*/
    .admin_footer {
        width: 100%;
        position: relative;
        background: #000;
        grid-area: footer;

        // フッター帯上部装飾
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 4px;
            background: rgb(190, 193, 195);
        }

        // フッター内コンテンツ調整
        .footer_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7% 10%;

            // フッターテキスト
            .footer_text {
                color: white;
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }

    /* 成功・エラーメッセージ表示
====================================================*/

    // メッセージ表示ボディ
    .msg_display {
        position: fixed;
        top: 3%;
        left: 5%;
        width: 90%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        z-index: 101;

        // 成功通知
        &.success {
            color: #5ab052;

            .msg_display_contents {
                padding: 3% 55px 3% 5%;

                @include landscape {
                    padding: 2% 55px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #5ab052;
            }

            .timer_bar {
                background: #85df7d;
            }
        }

        // エラー通知
        &.error {
            color: #c93a3a;

            .msg_display_contents {
                padding: 3% 85px 3% 5%;

                @include landscape {
                    padding: 2% 95px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #c93a3a;
            }

            .timer_bar {
                background: #eb7b7b;
            }
        }

        // 不正操作通知
        /* &.notice {
            color: #5997db;

            .msg_display_contents {
                padding: 3% 85px 3% 5%;

                @include landscape {
                    padding: 2% 85px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #5997db;
            }

            .timer_bar {
                background: #9ec6ef;
            }
        } */

        // メッセージ本体
        .msg_display_contents {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 700;
            background: #fff;
            border: 5px solid #e6e6e9;
            border-left: none;

            @include landscape {
                padding: 2% 95px 2% 4%;
            }

            // アイコン
            .msg_display_icon {
                font-size: 3.5rem;
                padding-right: 10px;

                @include landscape {
                    padding-right: 15px;
                }
            }

            // 左側装飾バー
            .msg_display_left_bar {
                display: block;
                position: absolute;
                width: 5px;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 103;
            }

            // 閉じるボタン
            .msg_close_btn {
                @include up_down;
                left: auto;
                right: 10px;
                color: #333333;
                font-size: 3.5rem;

                @include landscape {
                    right: 15px;
                }
            }

            // エラー詳細表示ボタン
            .error_view_btn {
                @extend .msg_close_btn;
                right: 50px;
                transition: all 0.5s;
                transform: translateY(-50%) rotate(0deg);

                &.open {
                    transform: translateY(-50%) rotateZ(-180deg);
                }

                @include landscape {
                    right: 60px;
                }
            }

            // 残り時間表示バー
            .timer_bar {
                height: 5px;
                position: absolute;
                left: 0%;
                bottom: -5px;
                z-index: 102;
            }
        }

        // メッセージ詳細表示
        .msg_detail {
            padding: 3%;
            font-size: 1.5rem;
            color: #333333;
            background: whitesmoke;
            border: 2px silver solid;
            border-top: none;

            @include landscape {
                padding: 2%;
            }

            // 内部テキスト
            p {
                margin: 4%;
                max-height: 70px;
                overflow-y: scroll;

                @include landscape {
                    margin: 2%;
                    max-height: 35px;
                }
            }
        }
    }

    /* オーバーレイ
====================================================*/

    // DOMマウント待機オーバーレイ
    .mount_overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: whitesmoke;
        z-index: 99999;
    }

    // セーブ中オーバーレイ
    .saving_overlay {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
        backdrop-filter: blur(4px);
        user-select: none;

        .loader {
            position: relative;
            color: #d6dadf;
            font-size: 15rem;
            text-indent: -9999em;
            overflow: hidden;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            margin: 72px auto;
            transform: translateZ(0);
            animation: loaderAni1 1.7s infinite ease, loaderAni2 1.7s infinite ease;
            @include loaderKey;
        }

        .saving_overlay_text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: 'Noto Serif', serif;
            color: #63ebeb;
            text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);
            transform: translate(-50%, -50%);
        }
    }
}
