@charset "UTF-8";
@use '../global/' as *;

@include sp() {
    /* ヘッダー
====================================================*/

    // ヘッダー帯
    header {
        background: #000;
        width: 100%;
        height: 70px;
        position: relative;
        z-index: 1;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.6vw;
            background: rgb(190, 193, 195);
        }

        // ヘッダー内部
        .header_inner {
            @include flex_center;
            width: 100%;
            height: 67px;
            align-items: flex-start;
            justify-content: space-between;

            // プラットフォーム
            .header_platform {
                position: relative;
                cursor: auto;

                // プラットフォーム画像
                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 67px;
                    background: url(#{$path_img}/common/platform_sp_portrait.webp) no-repeat center center;
                    background-size: auto 75%;

                    @include landscape {
                        content: '';
                        width: 100px;
                        height: 63px;
                        background: url(#{$path_img}/common/platform_sp_landscape.webp) no-repeat center center;
                        background-size: auto 75%;
                    }
                }
            }

            // ヘッダーロゴ
            .header_logo {
                @include pos_center;
                display: flex;

                .header_logo_button {
                    width: 110px;
                    height: 70px;
                    background: url(#{$path_img}/common/rain_textlogo.webp) center center no-repeat;
                    background-size: 100%;

                    @include landscape {
                        width: 120px;
                        height: 70px;
                        background-position: center 6px;
                    }
                }
            }
        }
    }

    /* 管理者コンソール
====================================================*/

    // 背景画像
    .background_img {
        display: none;
    }

    // コンソール画面本体
    .console_body {
        display: flex;
        margin: 0px auto;
        justify-content: center;

        // コンソールコンテンツ側
        .console_article {
            width: 100%;
            min-height: 700px;
            padding-top: 5%;
            background: #f5f6f7;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;

            // 管理者コンソールタイトル
            h1 {
                position: relative;
                padding-left: 45px;
                margin: 0 30px;
                border-bottom: solid 3px #65696a;
                font-size: 3rem;
                font-weight: 700;
                user-select: none;

                > .material-symbols-outlined {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 4.5rem;
                }

                // 緑ボタン調整（インフォ/バナー追加ボタン）
                .green_btn {
                    bottom: -120%;

                    // ボタンテキスト（h1のフォントが適応されているので戻す）
                    .btn_text {
                        font-family: $font_en;
                    }
                }
            }

            // 各項目タイトル表示
            h2 {
                position: relative;
                padding-left: 45px;
                font-size: 2rem;
                margin: 12% 0 0 5%;
                user-select: none;

                .material-symbols-outlined {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 4rem;
                }

                // ランチャーインフォ用h2タイトル装飾
                @each $infotype, $color in $infoColorMap {
                    &.#{$infotype} {
                        color: $color;
                    }
                }
            }

            // 各コンテンツ
            .console_contents {
                display: flex;
                flex-direction: column;
                margin: 0% 5% 5%;
                background: #fff;
                padding: 3%;

                // ペジネーションボタングループ
                .pagination_btn_list {
                    text-align: center;
                    user-select: none;
                    margin: 2% 0;

                    // 各ボタン
                    .pagination_btn_item {
                        padding: 6px 6px 5px;
                        margin: 0 3%;
                        border: #272727 solid 1px;
                        background: #f7f6f6;
                        color: #272727;
                        transition: all 0.3s;

                        // ホバー時
                        &.active {
                            border: #f7f6f6 solid 1px;
                            background: #272727;
                            color: #f7f6f6;
                        }
                    }
                }

                // コンテンツ内リストタイトル
                .console_contents_list_title {
                    position: relative;
                    width: 100%;
                    font-size: 2rem;
                    padding: 10% 0 0 3%;
                    color: #df9e27;
                    user-select: none;
                    border-bottom: #df9e27 2px solid;
                    font-weight: 700;

                    @include landscape {
                        display: flex;
                    }

                    // 赤ボタン調整
                    .red_btn {
                        position: absolute;
                        bottom: 10%;
                        right: 0;
                    }

                    // ユーザー内情報切り替えパネル
                    .user_ctrl_panel {
                        display: flex;
                        color: #333333;
                        width: fit-content;

                        @include landscape {
                            padding-left: 2%;
                        }

                        // タブボタン
                        button {
                            font-size: 3rem;

                            // アクティブ時
                            &.active {
                                font-variation-settings: 'FILL' 1;
                            }
                        }
                    }

                    // クラン名調整
                    &.clan_name {
                        font-size: 1.7rem;

                        @include landscape {
                            font-size: 2rem;
                        }
                    }
                }

                // キャラクターリスト用スワイパー
                swiper-container {
                    position: relative;

                    // swiperコンテナ調整
                    swiper-slide {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }

                    // スワイパー矢印ボタン調整
                    &::part(button-prev) {
                        display: none;
                    }
                    &::part(button-next) {
                        display: none;
                    }
                }

                // コンテンツ内リスト
                .console_contents_list {
                    position: relative;
                    display: grid;
                    margin-bottom: 3%;

                    // コンテンツアイテムタイトル
                    .contents_term {
                        font-weight: 700;
                        padding: 3% 2% 2%;
                        user-select: none;
                        overflow-wrap: break-word;

                        .contents_term_required {
                            color: #f17373;
                            font-size: 1.3rem;
                        }
                    }

                    // コンテンツアイテム説明
                    .contents_desc {
                        position: relative;
                        padding: 3% 5% 2%;
                        border-bottom: 1px gray dashed;
                        overflow-wrap: break-word;
                        width: 84vw;

                        // 編集モード切り替えボタン
                        .edit_btn {
                            grid-area: button;
                            position: relative;
                            right: 0;
                            color: darkslategray;
                            background: #fff;
                            border: 1px solid darkslategray;
                            font-size: 1.6rem;
                            width: 18%;
                            padding: 0.3% 4% 0 0;
                            margin: 1% 0;
                            text-align: right;

                            .material-symbols-outlined {
                                position: absolute;
                                left: 20%;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 2.2rem;
                            }
                        }

                        // ノーマルボタン調整（右下に）
                        .normal_btn {
                            margin: 3% 0 3% auto;
                        }

                        // 赤ボタン調整（右下に）
                        .red_btn {
                            margin: 3% 0 3% auto;
                        }

                        // クランメンバ－一覧
                        .clan_members {
                            display: grid;
                            column-gap: 20px;
                            row-gap: 20px;
                            grid-template-columns: repeat(2, 1fr);

                            span {
                                font-size: 1.3rem;

                                @include landscape {
                                    font-size: 1.5rem;
                                }
                            }
                        }

                        // バナー追加のページでファイル選択inputがオーバフローしないようwidthを親に合わせる
                        input {
                            width: 100%;
                        }

                        // 主にカラーコードを含む文字列編集用に使用する（Distribution.svelte）
                        .contenteditable {
                            color: #ffffff; // デフォルト色
                            background: #4d4d4dba;

                            .white {
                                color: #ffffff;
                            }

                            .black {
                                color: #323232;
                            }

                            .red {
                                color: #ff435d;
                            }

                            .green {
                                color: #56ff56;
                            }

                            .cyan {
                                color: #57ffff;
                            }

                            .yellow {
                                color: #ffff50;
                            }

                            .orange {
                                color: #fea461;
                            }

                            .pink {
                                color: #ff84ff;
                            }
                        }
                    }
                }

                // ボタングループ化
                .group_btns {
                    display: flex;
                    justify-content: space-evenly;
                }
            }

            // 緑ボタン調整
            .green_btn {
                position: absolute;
                right: 0;
                z-index: 1;
            }
        }
    }

    /* コンソールメニュー
====================================================*/
    // モバイル用ナブメニュー背景
    .mobile_menu_cover {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    // メニュー本体
    .console_menu {
        position: fixed;
        width: 60vw;
        height: 100dvh;
        background: rgba(248, 248, 248, 0.95);
        top: 0;
        right: -120%;
        padding: 10% 0;
        // paddingの箇所と要素本体の背景を区別して色付け
        background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 100%), linear-gradient(to bottom, rgb(154 172 181 / 95%) 0%, rgb(154 172 181 / 95%) 100%);
        background-clip: content-box, padding-box;
        transition: all 0.2s;
        user-select: none;
        z-index: 2;

        // 開いている時
        &.open {
            right: 0;
        }

        // 横画面調整
        @include landscape {
            width: 40vw;
            padding: 5% 0;
        }

        // メニューリスト
        .console_menu_list {
            width: 100%;

            // メニュー各項目
            .console_menu_list_item {
                width: 100%;
                height: 40px;
                margin: 10% auto;
                border-bottom: 1px solid gray;
                display: inline-block;
                cursor: pointer;

                .console_menu_list_link {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // リンクテキスト（ホバー時に出現）
                    .console_menu_list_text {
                        padding-left: 10px;
                        line-height: 20px;
                    }

                    // リンクアイコン
                    .material-symbols-outlined {
                        font-size: 3rem;
                    }
                }

                &.active {
                    .material-symbols-outlined {
                        color: #0aa0d2;
                    }

                    .console_menu_list_text {
                        color: #0a61d2;
                    }
                }
            }
        }
    }

    /* フォームスタイル
====================================================*/

    .edit_area_box_wrapper {
        overflow: hidden; // svelte5のバグ？でslideアニメーションがおかしいので、応急措置としてhiddenを適用。PCでは発生しないので不要

        // 編集フォーム本体
        .edit_area_box {
            // フォームdivタグ
            .edit_area {
                display: flex;
                justify-content: space-around;
                background-color: #f0f1f2;

                // ラジオボタン
                &.select {
                    align-items: center;
                    padding: 4% 2%;

                    // フォーム内タイトル
                    .edit_area_title {
                        font-size: 1.8rem;
                    }

                    // フォームタイトル（ラジオボタン用は無し）
                    .edit_area_title {
                        display: none;
                    }
                }

                // 通常
                &.enter {
                    flex-direction: column;
                    padding: 5%;

                    // フォーム内タイトル
                    .edit_area_title {
                        border-bottom: #333333 1px solid;
                        padding-left: 2%;
                        margin-bottom: 3%;
                        font-size: 2.2rem;
                    }

                    // 青ボタン調整
                    .blue_btn {
                        margin: 5% auto 0;
                    }

                    // フォームタイトル
                    .edit_area_title {
                        font-size: 1.9rem;
                        font-weight: 700;
                        user-select: none;
                    }
                }

                // フォーム部品
                .edit_area_box_parts {
                    user-select: none;

                    // ラジオボタン
                    &.radio {
                        label {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            // 丸アイコン
                            .material-symbols-outlined {
                                font-size: 2.1rem;
                                padding: 0 10px 2px 0;
                            }
                        }

                        //利用権リストタイトル
                        .course_list_title {
                            border-left: 3px solid #808080;
                            padding: 0 0 0.5% 2%;
                            border-bottom: 1px dotted;
                            margin: 0 0 2% 2%;
                        }

                        // 利用権選択リスト
                        .course_list {
                            display: grid;
                            column-gap: 10px;
                            row-gap: 10px;
                            grid-template-columns: repeat(2, 1fr);
                            margin: 5% 3%;

                            // 利用権各項目
                            .course_item {
                                // 丸/チェックアイコン
                                .material-symbols-outlined {
                                    font-size: 2.1rem;
                                    padding: 0 5px 2px 0;
                                }
                            }

                            // ユーザーID複数選択input
                            &_user_ids {
                                position: relative;

                                input {
                                    width: 100%;
                                }

                                .help_btn {
                                    position: absolute !important;
                                    top: 0;
                                    right: 0;
                                }
                            }
                        }
                    }

                    // テキスト
                    &.text {
                        display: grid;
                        justify-items: center;
                        margin-top: 15px;

                        dd {
                            width: 100%;

                            input {
                                width: 100%;
                            }

                            select {
                                width: 100%;
                            }
                        }

                        // カラーパレット（Distribution.svelte）
                        .color_palette {
                            display: grid;
                            column-gap: 10px;
                            grid-template-columns: repeat(4, 1fr);
                            row-gap: 10px;
                            margin-bottom: 15px;

                            &_btn {
                                width: 30px;
                                height: 30px;
                                border-radius: 20px;
                                border: 2px solid black;

                                &.white {
                                    background: #ffffff;
                                }

                                &.black {
                                    background: #323232;
                                }

                                &.red {
                                    background: #ff435d;
                                }

                                &.green {
                                    background: #56ff56;
                                }

                                &.cyan {
                                    background: #57ffff;
                                }

                                &.yellow {
                                    background: #ffff50;
                                }

                                &.orange {
                                    background: #fea461;
                                }

                                &.pink {
                                    background: #ff84ff;
                                }
                            }
                        }
                    }

                    // 管理者コントロールパネル
                    &.admin_ctrl {
                        gap: 25px;

                        .filter_form {
                            #filter_input {
                                width: 50%;
                                margin-right: 5%;
                            }

                            .filter_select {
                                width: 60%;
                                margin-left: 3%;
                            }
                        }

                        .green_btn {
                            position: static;
                            height: 37px;
                        }
                    }

                    // ユーザー内コントロールフォーム
                    .filter_form {
                        position: relative;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }

    /* ボタン関連
====================================================*/

    // ノーマルボタンデフォルト
    .normal_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: darkslategray;
        width: fit-content;
        background: #fff;
        border: 1px solid darkslategray;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;
        height: 35px;
        padding: 0 10px 0 8px;

        // ボタンアイコン
        .btn_icon {
            margin-right: 4px;
        }

        // ボタンテキスト
        .btn_text {
            line-height: 21px;
            padding-top: 1px; // 一部テキストが上気味なので、下に調整
        }
    }

    // 青ボタンデフォルト
    .blue_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #0aa0d2;
        width: fit-content;
        background: #fff;
        border: 1px solid #0aa0d2;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;
        height: 35px;
        padding: 0 10px 0 8px;

        // ボタンアイコン
        .btn_icon {
            margin-right: 4px;
        }

        // ボタンテキスト
        .btn_text {
            line-height: 21px;
            padding-top: 1px; // 一部テキストが上気味なので、下に調整
        }

        // アクティブ時
        &.active {
            color: #fff;
            background: #2abcec;
            border: 1px solid #2abcec;
        }
    }

    // 赤ボタンデフォルト
    .red_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #de6161;
        width: fit-content;
        background: #fff;
        border: 1px solid #de6161;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 4px;
        transition: all 0.3s;
        height: 35px;
        padding: 0 10px 0 8px;

        // ボタンアイコン
        .btn_icon {
            margin-right: 4px;
        }

        // ボタンテキスト
        .btn_text {
            line-height: 21px;
            padding-top: 1px; // 一部テキストが上気味なので、下に調整
        }
    }

    // 緑ボタンデフォルト
    .green_btn {
        position: relative;
        display: flex;
        align-items: center;
        color: #0ad275;
        width: fit-content;
        background: #fff;
        border: 1px solid #0ad275;
        font-weight: 700;
        font-size: 1.6rem;
        border-radius: 4px;
        transition: all 0.3s;
        height: 35px;
        padding: 0 10px 0 8px;

        @include landscape {
            height: 37px;
        }

        // ボタンアイコン
        .btn_icon {
            margin-right: 4px;
        }

        // ボタンテキスト
        .btn_text {
            line-height: 21px;
            padding-top: 1px; // 一部テキストが上気味なので、下に調整
        }

        // ロード中
        &.loading_btn {
            padding: 0; // そのままだと楕円形になってしまうのでpaddingはなし
            border-radius: 50%;
        }
    }

    // ボタンロード中
    .loading {
        width: 15px;
        height: 15px;
        margin: 10px;
        border-radius: 50%;
        border: 0.25rem solid rgb(79 79 79 / 20%);
        border-top-color: black;
        animation: authLoaderAni 1s infinite linear;
        @include authLoaderKey;
    }

    // ボタングループ
    .btn_group {
        display: flex;
        justify-content: space-evenly;
        padding: 5% 0;

        @include landscape {
            padding: 3% 0;
        }
    }

    /* Ban関連
====================================================*/

    // Ban済ユーザー表示
    .banned_user_container {
        position: absolute;
        width: 102%;
        height: 107%;
        top: -7%;
        left: -1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(127, 127, 127, 0.5);
        z-index: 2;
        user-select: none;
        box-shadow: 0 0 20px black;
        border-radius: 20px;

        // テキスト
        .banned_text {
            color: whitesmoke;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
            text-shadow: 3px 3px 5px black;
        }

        // Ban解除ボタン
        .red_btn {
            .btn_icon {
                font-size: 2.5rem;
            }

            .btn_text {
                font-size: 1.7rem;
            }
        }
    }

    /* ユーザーコンポーネント内キャラクターリスト
====================================================*/
    // キャラクターなし
    .no_character_msg {
        text-align: center;
        color: #ff8100;
    }

    //　各キャラクター
    .character_item {
        position: relative;
        width: 100%;
        height: 23vw;

        @include landscape {
            width: 80%;
            height: 20vw;
        }

        // 武器種名に応じて背景変更
        $weaponNames: $weaponNamesArray;
        @each $weapon in $weaponNames {
            &.#{$weapon} {
                background: url(#{$path_img}/common/char_background/#{$weapon}.png) no-repeat 0px 0px / contain;
            }
        }

        // 新規キャラクター編集不可
        &.new {
            cursor: not-allowed;
        }

        // キャラクター名
        .name {
            @include right_left;
            top: 9%;
            font-size: 5.5vw;
            font-weight: 700;
            width: fit-content;

            @include landscape {
                font-size: 4vw;
            }
        }

        // キャラクター削除ボタン
        .delete_character {
            top: 10% !important;
            left: 5% !important;
            z-index: 1;
            height: auto;
            padding: 0;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw;
                margin: 0;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw;
                }
            }
        }

        // 削除済みアカウントボタン
        .deleted_character {
            top: 10% !important;
            left: 5% !important;
            z-index: 1;
            color: #fff;
            background: #de6161;
            border: 1px solid #de6161;
            height: auto;
            padding: 0;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw;
                margin: 0;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw;
                }
            }
        }

        // アカウント連携ボタン
        .link_character {
            top: 10% !important;
            right: 5% !important;
            z-index: 1;
            height: auto;
            padding: 0;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw !important;
                margin: 0;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw !important;
                }
            }
        }

        // 連携済みアカウントボタン
        .linked_character {
            top: 10% !important;
            right: 5% !important;
            z-index: 1;
            color: #fff;
            background: #0ad275;
            border: 1px solid #0ad275;
            height: auto;
            padding: 0;

            .btn_icon {
                font-size: 4.6vw;
                padding: 1vw !important;
                margin: 0;
            }

            .btn_text {
                display: none;
            }

            @include landscape {
                top: 12% !important;

                .btn_icon {
                    font-size: 2.9vw;
                    padding: 0.8vw !important;
                }
            }
        }

        // 武器アイコン
        .wpn_icon {
            position: absolute;
            width: 10%;
            height: 35%;
            top: 47%;
            left: 7%;
            background: url(#{$path_img}/common/char_wpn_icon/NoData.png) no-repeat center center/100%;

            @include landscape {
                top: 42%;
                left: 6%;
                background-size: 90% !important;
            }

            // 武器種名に応じてアイコン表示
            $weaponNames: $weaponNamesArray;
            @each $weapon in $weaponNames {
                &.#{$weapon} {
                    background: url(#{$path_img}/common/char_wpn_icon/#{$weapon}.png) no-repeat center center/100%;
                }
            }
        }

        // 武器名
        .wpn_text {
            position: absolute;
            font-weight: 700;
            width: 25%;
            left: 19%;
            top: 46%;
            font-size: 3vw;

            p:nth-child(2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            @include landscape {
                width: 28%;
                left: 18%;
                top: 43%;
                font-size: 2.3vw;
            }
        }

        // その他情報（HR/GR/プレイ時間）
        .other_info {
            position: absolute;
            top: 46%;
            right: 10%;
            font-weight: 700;
            text-align: right;
            font-size: 3vw;

            @include landscape {
                top: 43%;
                font-size: 2.3vw;
            }
        }
    }

    /* モーダルウィンドウ
====================================================*/
    .modal {
        position: fixed;
        z-index: 998;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        // モーダルコンテンツ
        .modal_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            background-color: #f4f4f4;
            box-shadow:
                0 5px 8px 0 rgba(0, 0, 0, 0.2),
                0 7px 20px 0 rgba(0, 0, 0, 0.17);

            @include landscape {
                width: 70%;
            }

            // ヘッダー
            .modal_header {
                background: lightblue;
                padding: 3px 15px;
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 2rem;
                    margin: 1% 0;
                }
            }

            // 内容
            .modal_body {
                display: flex;
                padding: 3% 5% 0;
                flex-direction: column;
                align-items: center;
                max-height: 300px;
                overflow-y: scroll;

                @include landscape {
                    max-height: 150px;
                }

                // モーダルリスト
                .modal_list {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 45% 45%;
                    gap: 20px;
                    justify-content: center;
                    padding: 5%;

                    // リストアイテム
                    .modal_list_item {
                        text-align: center;
                        overflow-wrap: break-word;

                        // アイテム見出し用
                        p {
                            background: beige;
                            font-size: 1.6rem;
                            font-weight: 700;
                            margin-bottom: 5px;

                            @include landscape {
                                margin-bottom: 10px;
                            }

                            .material-symbols-outlined {
                                font-size: 1.5rem;
                            }
                        }

                        // 選択ボックス
                        select,
                        input[type='datetime-local'],
                        input[type='text'] {
                            width: 100%;
                        }
                    }
                }

                // モーダル注意文
                .modal_note {
                    text-align: center;
                    color: #ff4b4b;
                    font-weight: 700;
                    font-size: 1.4rem;
                }
            }
        }
    }

    /* フッター
====================================================*/
    .admin_footer {
        width: 100%;
        position: relative;
        background: #000;
        grid-area: footer;

        // フッター帯上部装飾
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 4px;
            background: rgb(190, 193, 195);
        }

        // フッター内コンテンツ調整
        .footer_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7% 10%;

            // フッターテキスト
            .footer_text {
                color: white;
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }

    /* 成功・エラーメッセージ表示
====================================================*/

    // メッセージ表示ボディ
    .msg_display {
        position: fixed;
        top: 3%;
        left: 5%;
        width: 90%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        z-index: 101;

        // 成功通知
        &.success {
            color: #5ab052;

            .msg_display_contents {
                padding: 3% 55px 3% 5%;

                @include landscape {
                    padding: 2% 55px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #5ab052;
            }

            .timer_bar {
                background: #85df7d;
            }
        }

        // エラー通知
        &.error {
            color: #c93a3a;

            .msg_display_contents {
                padding: 3% 85px 3% 5%;

                @include landscape {
                    padding: 2% 95px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #c93a3a;
            }

            .timer_bar {
                background: #eb7b7b;
            }
        }

        // 不正操作通知
        /* &.notice {
            color: #5997db;

            .msg_display_contents {
                padding: 3% 85px 3% 5%;

                @include landscape {
                    padding: 2% 85px 2% 3%;
                }
            }

            .msg_display_left_bar {
                background: #5997db;
            }

            .timer_bar {
                background: #9ec6ef;
            }
        } */

        // メッセージ本体
        .msg_display_contents {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 700;
            background: #fff;
            border: 5px solid #e6e6e9;
            border-left: none;

            @include landscape {
                padding: 2% 95px 2% 4%;
            }

            // アイコン
            .msg_display_icon {
                font-size: 3.5rem;
                padding-right: 10px;

                @include landscape {
                    padding-right: 15px;
                }
            }

            // 左側装飾バー
            .msg_display_left_bar {
                display: block;
                position: absolute;
                width: 5px;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 103;
            }

            // 閉じるボタン
            .msg_close_btn {
                @include up_down;
                left: auto;
                right: 10px;
                color: #333333;
                font-size: 3.5rem;

                @include landscape {
                    right: 15px;
                }
            }

            // エラー詳細表示ボタン
            .error_view_btn {
                @extend .msg_close_btn;
                right: 50px;
                transition: all 0.5s;
                transform: translateY(-50%) rotate(0deg);

                &.open {
                    transform: translateY(-50%) rotateZ(-180deg);
                }

                @include landscape {
                    right: 60px;
                }
            }

            // 残り時間表示バー
            .timer_bar {
                height: 5px;
                position: absolute;
                left: 0%;
                bottom: -5px;
                z-index: 102;
            }
        }

        // メッセージ詳細表示
        .msg_detail {
            padding: 3%;
            font-size: 1.5rem;
            color: #333333;
            background: whitesmoke;
            border: 2px silver solid;
            border-top: none;

            @include landscape {
                padding: 2%;
            }

            // 内部テキスト
            p {
                margin: 4%;
                max-height: 70px;
                overflow-y: scroll;

                @include landscape {
                    margin: 2%;
                    max-height: 35px;
                }
            }
        }
    }

    /* オーバーレイ
====================================================*/

    // DOMマウント待機オーバーレイ
    .mount_overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: whitesmoke;
        z-index: 99999;
    }

    // セーブ中オーバーレイ
    .saving_overlay {
        display: flex;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
        backdrop-filter: blur(4px);
        user-select: none;

        .loader {
            position: relative;
            color: #d6dadf;
            font-size: 15rem;
            text-indent: -9999em;
            overflow: hidden;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            margin: 72px auto;
            transform: translateZ(0);
            animation:
                loaderAni1 1.7s infinite ease,
                loaderAni2 1.7s infinite ease;
            @include loaderKey;
        }

        .saving_overlay_text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: 'Noto Serif', serif;
            color: #63ebeb;
            text-shadow:
                0 0 10px rgba(0, 0, 0, 1),
                0 0 10px rgba(0, 0, 0, 1);
            transform: translate(-50%, -50%);
        }
    }

    /* 配布セクション
========================================================= */
    // 個人別配布セクションのinput要素
    .indiv_dist_input {
        font-size: 1.6rem;
        width: 60px;
    }

    // 配布物を追加するセクション
    .dist_section {
        display: flex;
        align-items: center;

        // 配布物選択
        .dist_select_area {
            position: relative;

            // svrollbar用スクロール調整
            .svlr-viewport,
            .svlr-wrapper {
                height: auto !important;
                max-height: 250px !important;
            }

            // 配布物リスト
            &_list {
                width: 100%;
                box-shadow: 0 2px 3px 0 rgba(44, 62, 80, 0.24);
                border-radius: 4px;
                background: #fdfdfd;
                position: absolute;
                z-index: 2;
                border: 1px solid black;

                // 各アイテム
                &_item {
                    padding: 10px 20px;
                    transition: all 0.2s;
                }
            }
        }
    }
}
