@charset "UTF-8";

@use "breakpoint" as *;
@use "../global" as *;

/*==================================
　　　　　初期設定
==================================*/
html,
body {
    height: 100%;
}

/* body内初期設定 */
body {
    background: $bg_color_error;
    -webkit-text-size-adjust:100%;
}

/* wrapper初期設定 */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
// 以下PC表示
@media (min-width: 900px) {
    @include pc;
}

// 以下モバイル表示
@media (max-width: 899px) {
    @include sp;
}
