@charset "UTF-8";
@use '../global/' as *;

@include sp() {
    /* ヘッダー
====================================================*/

    // ヘッダー帯
    header {
        background: #000;
        width: 100%;
        height: 70px;
        position: relative;

        // ヘッダー帯下部装飾
        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.6vw;
            background: rgb(190, 193, 195);
        }

        // ヘッダー内部
        .header_inner {
            width: 100%;
            height: 67px;
            @include flex_center;
            align-items: flex-start;
            justify-content: space-between;

            // プラットフォーム
            .header_platform {
                position: relative;
                cursor: auto;

                // プラットフォーム画像
                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 67px;
                    background: url(#{$path_img}/common/platform_sp_portrait.webp) no-repeat center center;
                    background-size: auto 75%;

                    @include landscape {
                        content: '';
                        width: 100px;
                        height: 63px;
                        background: url(#{$path_img}/common/platform_sp_landscape.webp) no-repeat center center;
                        background-size: auto 75%;
                    }
                }
            }

            // ヘッダーロゴ
            .header_logo {
                display: flex;
                @include pos_center;

                .header_logo_button {
                    width: 110px;
                    height: 70px;
                    background: url(#{$path_img}/common/rain_textlogo.webp) center center no-repeat;
                    background-size: 100%;

                    @include landscape {
                        width: 120px;
                        height: 70px;
                        background-position: center 6px;
                    }
                }
            }

            // 言語選択枠
            .header_language_selector {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                color: #fff;
                border: 2px solid #fff;
                box-sizing: content-box;
                position: relative;
                padding: 11px;
                width: 30px;
                height: 30px;
                transition: all 0.7s ease-in-out;
                margin: 5px;
                z-index: 2;

                @include landscape {
                    margin: 3px;
                }

                // 言語選択アクティブ時
                &.lang_arrow_open {
                    width: 40vw;
                    height: 35vh;
                    background: rgb(0 0 0 / 85%);

                    @include landscape {
                        width: 30vw;
                        height: 70vh;
                    }
                }

                // グローバルマーク
                .global_mark {
                    font-size: 3rem;
                    position: absolute;
                    top: 11.5px;
                    right: 10.5px;
                }

                // 現在表示言語
                .current_language {
                    display: none;
                }

                // 矢印
                .lang_arrow {
                    display: none;
                }
            }

            // 言語選択欄
            .language_select_area_list {
                display: flex;
                flex-direction: column;
                z-index: 1;
                width: 100%;
                align-items: center;

                // 各言語
                .language_names {
                    @include flex_center;
                    flex-direction: column;
                    color: #fff;
                    margin-top: 35%;
                    padding-bottom: 2%;
                    position: relative;
                    will-change: opacity;

                    // 言語名初めのみ上部余白なし
                    &:first-child {
                        margin-top: 0;
                    }

                    // 現在の言語に下線
                    &.lang_selected {
                        color: orange;
                    }

                    // 言語名メイン
                    .language_main_name {
                        font-size: 1.9rem;
                        transform: translateY(6%);
                    }

                    // 言語名サブ
                    .language_sub_name {
                        font-size: 1.2rem;
                        transform: translateY(6%);
                    }

                    // 言語名選択時下線
                    &::before {
                        background: #ff701e;
                        content: '';
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        margin: auto;
                        transform-origin: center top;
                        transform: scale(0, 1);
                        transition: transform 0.3s;
                    }
                    // +
                    &:hover::before {
                        transform-origin: center top;
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }

    /* メインインナー
====================================================*/

    // トップページ画像
    .top_images {
        position: relative;
        width: 100%;
        height: 70vw;
        z-index: -2;
        overflow: hidden;
        padding-bottom: 8px;

        // RainServerロゴ
        &::before {
            display: none;
        }

        // トップページマニュアルタイトル
        &::after {
            display: block;
            @include right_left;
            top: auto;
            bottom: 3%;
            content: '';
            background: url(#{$path_img}/common/manual_title.webp) no-repeat;
            background-size: 100%;
            width: 105%;
            aspect-ratio: 63 / 10;
            z-index: 4;
        }

        // トップページ画像位置調整
        .top_img {
            width: 100vw;
            @include right_left;
            top: -10%;
            z-index: -1;
        }
    }

    // サイドメニュー表示切り替えボタン
    .menu_btn {
        position: fixed;
        bottom: 2%;
        right: 3%;
        padding: 21px 0px;
        width: 60px;
        height: 60px;
        border: grey 2px solid;
        border-radius: 50%;
        background: white;
        z-index: 12;

        // ３本線
        .menu_btn_line {
            width: 20px;
            height: 2px;
            display: block;
            margin: 0px auto 4px;
            background: black;
            transition: all 0.4s;
        }

        // メニューアクティブ時
        &.active {
            .menu_btn_line {
                &:nth-child(1) {
                    transform: rotate(-405deg);
                    transform-origin: 19px 3px;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(405deg);
                    transform-origin: 16px 0px;
                }
            }
        }
    }

    // サイドメニュー、メインコンテンツ位置調整及び背景画像設定
    .bg {
        &::before {
            display: block;
            content: '';
            position: fixed;
            background: url(#{$path_img}/common/body_bg.webp) center center repeat-y;
            background-size: 100%;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -3;
            transform: translate3d(0, 0, 0);
        }

        .main_inner {
            display: flex;
            max-width: 1220px;
            margin: auto;
        }
    }

    /* サイドメニュー
====================================================*/

    // メニュー本体
    .side_menu {
        position: fixed;
        z-index: 11;
        bottom: -120%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        transition: all 0.7s;
        overflow-y: scroll;

        // サイドメニュー上部装飾
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: #1ecbff;
        }

        // サイドメニュー下部装飾
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: #1ecbff;
            margin-bottom: 40%;
        }

        // サイドメニュー本体
        .categories {
            // メインカテゴリー
            .category {
                border-top: 1px solid #b2b5cb;
                background-color: #dcdfe4;

                // 初めのメニューのみトップボーダー削除
                &:nth-child(1) {
                    border-top: none;
                }

                // サブカテゴリー
                .sub_categories {
                    transition: 0.5s;
                    border-top: none;
                    background: rgba(85, 85, 85, 0.3);
                    box-shadow: 0px 0px 8px 7px #7c7c7c inset;

                    // サブカテゴリー内部装飾
                    .sub_categories_list {
                        @include flex_center;
                        flex-direction: column;
                        justify-content: space-around;
                        border: 2px solid #b2b5cb;
                        border-top: none;
                        line-height: 3;

                        // サブカテゴリー内部テキスト
                        .sub_category {
                            position: relative;
                            font-weight: 600;
                            font-size: 1.7rem;
                            color: #000;
                            cursor: pointer;
                            transition: all 0.1s ease-in-out;
                            line-height: 1.6;
                            text-align: left;
                            padding: 5% 8% 5% 21%;
                            width: 100%;

                            @include landscape {
                                padding: 4% 8% 4% 14%;
                            }

                            // サブカテゴリーホバー時
                            &:hover {
                                background: rgba(77, 77, 77, 0.3);
                                text-shadow: 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke,
                                    -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke,
                                    0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke;
                            }

                            // サブカテゴリーページ表示時
                            &.tab_active {
                                position: relative;
                                background: rgba(77, 77, 77, 0.3);
                                text-shadow: 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke,
                                    -10px 0px 10px whitesmoke, 10px 0px 10px whitesmoke, -10px 0px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke,
                                    0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke, 0px 10px 10px whitesmoke, 0px -10px 10px whitesmoke;

                                // 肉球アイコン
                                &::before {
                                    content: '';
                                    position: absolute;
                                    background: url(#{$path_img}/common/icon_paw.webp) center left no-repeat;
                                    top: 13%;
                                    left: 4%;
                                    width: 11%;
                                    height: 50px;
                                    background-size: 100%;
                                    transition-duration: 0.2s;

                                    @include landscape {
                                        top: 19%;
                                        width: 7%;
                                    }
                                }
                            }
                        }
                    }
                }

                // カテゴリータイトル
                .category_title {
                    @include flex_center;
                    position: relative;
                    width: 100%;
                    border: none;
                    font-weight: 600;
                    font-size: 2rem;
                    padding: 5% 0 5% 30px;
                    transition-property: background-color, color;
                    transition-duration: 0.3s, 0.2s;
                    transition-timing-function: ease;

                    @include landscape {
                        font-size: 1.8rem;
                        padding: 3% 0 3% 30px;
                    }

                    // メインカテゴリーオープン時
                    &.open {
                        color: #fff;
                        background-color: #61a7f7;

                        // 開閉マークオープン時
                        .mark {
                            background-color: #5390d4;

                            // 開閉マーク縦線変化
                            &::before {
                                background: transparent;
                                transform: rotate(360deg);
                            }

                            // 開閉マーク横線変化
                            &::after {
                                background: #adb4c2;
                                transform: rotate(540deg);
                            }
                        }
                    }

                    // 開閉マーク領域
                    .mark {
                        display: block;
                        width: 30px;
                        height: 100%;
                        background-color: #e1e6ef;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all 0.3s ease;

                        // 開閉マーク縦線
                        &::before {
                            position: absolute;
                            content: '';
                            display: block;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 12px;
                            height: 2px;
                            background: #05162e;
                            margin: auto;
                            transition: all 0.3s ease-in-out;
                        }

                        // 開閉マーク横線
                        &::after {
                            position: absolute;
                            content: '';
                            display: block;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 12px;
                            height: 2px;
                            background: #05162e;
                            margin: auto;
                            transform: rotate(90deg);
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    // メニューホバー時
                    &:hover {
                        color: #fff;
                        background-color: #61a7f7;

                        // 開閉マークホバー時
                        .mark {
                            background-color: #5390d4;
                        }
                    }
                }
            }
        }

        // 選択時
        &.active {
            bottom: 0;
        }
    }

    /* 記事汎用
====================================================*/

    // メインタイトルh1
    h1 {
        background: url(#{$path_img}/common/title_frame.webp) center no-repeat;
        background-size: 100% 100%;
        padding: 2.7% 6% 3%;
        margin: 2%;
        color: black;
        font-weight: 600;
        //font-size: 2rem;
        font-size: 2.2rem;
        text-align: center;

        @include landscape {
            margin: 2.5%;
            font-size: 3rem;
        }
    }

    // サブタイトルh2
    h2 {
        position: relative;
        //font-size: 1.8rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: #4d4d4f;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
        margin-bottom: 10%;

        @include landscape {
            font-size: 2.5rem;
        }

        // サブタイトル上部装飾
        &::before {
            content: '';
            @include right_left;
            top: -4.5vw;
            width: 90%;
            height: 28px;
            background: url(#{$path_img}/common/subtitle_upper.webp) center top no-repeat;
            background-size: 100%;
            -webkit-filter: drop-shadow(0px 2px 5px rgb(50, 50, 50));
            filter: drop-shadow(0px 2px 5px rgb(50, 50, 50));
        }

        // サブタイトル下部装飾
        &::after {
            content: '';
            @include right_left;
            top: auto;
            bottom: -5vw;
            width: 90%;
            height: 28px;
            background: url(#{$path_img}/common/subtitle_lower.webp) center bottom no-repeat;
            background-size: 100%;
            -webkit-filter: drop-shadow(0px -2px 5px rgb(50, 50, 50));
            filter: drop-shadow(0px -2px 5px rgb(50, 50, 50));
        }
    }

    // サブタイトルh3
    h3 {
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        padding-left: 7%;
        margin: 10% 0;
        color: rgb(21, 199, 190);

        &::before {
            content: '';
            position: absolute;
            background: url(#{$path_img}/common/h3_frame.webp) center center no-repeat;
            background-size: 100%;
            width: 80%;
            aspect-ratio: 75 / 15;
            bottom: -20px;
            left: 5px;
        }
    }

    // 記事コンテンツ領域
    .contents {
        background: rgba(255, 255, 255, 0.6);
        border: rgba(0, 0, 0, 0.2) solid 2px;
        padding: 2%;
        width: 100%;
        min-height: 1000px;
    }

    // 記事内セクションタグ
    section {
        position: relative;
        margin-top: 15%;
    }

    // 中央レイアウト
    .center_box {
        text-align: center;
        margin: 0 3% 5%;

        // テキスト
        .center_box_text {
            font-size: 1.5rem;
            text-align: start;
            text-indent: -2.5em;
            padding-bottom: 2%;
            padding-left: 10%;
        }

        // 画像
        .center_box_img {
            display: inline-block;
        }
    }

    // セクション内紹介ボックス
    .section_inrto_box {
        margin-bottom: 10%;
        font-size: 1.5rem;

        // テキスト
        .intro_box_text {
            text-align: start;
            padding-bottom: 2%;
        }
    }

    // 番号なし中央レイアウト
    .center_box_no_number {
        margin: 0;
        margin-bottom: 5%;
        text-align: center;
        font-size: 1.5rem;

        // テキスト
        .center_box_no_number_text {
            text-align: start;
            padding-bottom: 1%;
        }

        // 画像設定
        .center_box_no_number_img {
            display: inline-block;
        }
    }

    // 画像右、テキスト左レイアウト
    .half_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;
        font-size: 1.5rem;

        // テキスト
        .half_box_text {
            padding: 0 3%;

            &.half_box_text_adj {
                padding-left: 13%;
            }
        }

        // 画像
        .half_box_img {
            display: inline-block;
            width: 70% !important;
            padding-top: 2%;
        }
    }

    // 画像に対する説明表
    .img_desc_section {
        --x-gradient: linear-gradient(90deg, #6bec9c 0 25px, transparent 0 calc(100% - 25px), #6bec9c calc(100% - 25px));
        --y-gradient: linear-gradient(#6bec9c 0 25px, transparent 0 calc(100% - 25px), #6bec9c calc(100% - 25px));
        outline: rgb(160, 160, 160) 2px solid;
        outline-offset: -5px;
        background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient), var(--y-gradient);
        background-repeat: no-repeat;
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
        background-position: top, right, bottom, left;
        margin: 1% 0;
        text-align: start;

        // 個別アイテム
        .img_desc_section_item {
            padding: 3% 4%;
            border-top: black solid 2px;
            color: red;
            font-size: 1.5rem;

            // テキスト
            .img_desc_section_text {
                padding: 0 5%;
                color: black;

                // 表内テキストリスト化
                .img_desc_section_text_list {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 2%;
                    padding-top: 2%;
                    border-top: 2px gray solid;

                    &:first-child {
                        border: none;
                    }

                    // リストタイトル
                    .img_desc_section_text_list_title {
                        white-space: nowrap;
                        text-align: center;
                        font-weight: 700;
                        border-left: solid 8px orange;
                        background: #f7f4f4;
                        text-align: center;
                        border-radius: 0 15px 15px 0;
                        padding: 1% 0;
                        margin-bottom: 1%;
                        width: 210px;
                        border-top: solid 3px #dadada;
                        border-bottom: solid 3px #dadada;
                        border-right: solid 3px #dadada;

                        /* &:lang(en) {
                            width: 90px;
                        } */
                    }

                    // リストテキスト
                    /* span:nth-child(2) {
                        width: 180px;
                    } */
                }

                // 表内テキスト下部仕切り
                .img_desc_section_text_part {
                    position: relative;
                    display: block;
                    height: 2px;

                    &::before {
                        content: '';
                        background-image: linear-gradient(to right, gray, gray 5px, transparent 5px, transparent 12px);
                        background-size: 9px 2px;
                        background-repeat: repeat-x;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }

            // アイテム一番目トップボーダーなし
            &:nth-child(1) {
                border-top: 0;
            }
        }
    }

    // 目次欄
    .outline_contents {
        position: relative;
        padding: 8% 1%;
        margin: 10%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: 0 0 0 2rem #6e6b6d;
        background-color: #6e6b6d;

        // 目次タイトル
        &::before {
            position: absolute;
            top: -10px;
            left: -5px;
            padding: 1% 2%;
            border-radius: 30px;
            border: 2px solid white;
            background-image: linear-gradient(135deg, #f6ceec 10%, #d939cd 100%);
            font-size: 1.4rem;
            color: #fff;
            content: attr(data-title);
        }

        // 目次リスト
        ul {
            color: white;
            line-height: 2;

            // 項目
            li {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;

                a {
                    &:active {
                        -webkit-text-decoration: underline;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    // 記事内Comment
    .article_memo {
        position: relative;
        padding: 15% 4% 4%;
        background-color: #f1f1f1;
        outline: 2px solid #333;
        outline-offset: -0.5rem;
        margin: 0 7.5% 15%;

        &::before {
            position: absolute;
            top: 1rem;
            left: 0;
            width: 100%;
            padding: 0.5rem 0;
            background-color: rgb(28, 136, 214, 0.7);
            color: white;
            text-align: center;
            content: attr(data-title);
        }

        .inner_text {
            color: #333;
            line-height: 1.5;
            font-size: 1.5rem;
        }
    }

    // 記事内Check
    .check_contents {
        position: relative;
        padding: 10% 7%;
        margin: 20% 10%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: 0 0 0 2rem #fdb979;
        background-color: #f19b4a;

        // 目次タイトル
        &::before {
            content: '';
            position: absolute;
            top: -50px;
            left: -30px;
            width: 30%;
            aspect-ratio: 1 / 1;
            background: url(#{$path_img}/common/check_mark.webp) center center no-repeat;
            background-size: 100%;
            font-size: 1.8rem;
        }

        // 目次リスト
        .check_contents_list {
            color: white;
            line-height: 2;

            // テキスト
            .check_contents_list_text {
                text-indent: -1em;
                font-size: 1.5rem;
                padding-bottom: 5%;

                &:lang(en) {
                    text-indent: -0.5em;
                }

                &:last-child {
                    padding: 0;
                }
            }
        }
    }

    // 記事内Check（リンク付き）
    .check_contents_with_link {
        position: relative;
        padding: 10% 7%;
        margin: 20% 10%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: 0 0 0 2rem #fdb979;
        background-color: #f19b4a;

        // 目次タイトル
        &::before {
            content: '';
            position: absolute;
            top: -50px;
            left: -30px;
            width: 30%;
            aspect-ratio: 1 / 1;
            background: url(#{$path_img}/common/check_mark.webp) center center no-repeat;
            background-size: 100%;
            font-size: 1.8rem;
        }

        // 目次リスト
        .check_contents_with_link_list {
            color: white;
            line-height: 2;

            // リストアイテム
            .check_contents_with_link_list_item {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                padding-top: 3%;

                // テキスト
                .check_contents_list_text {
                    text-align: center;
                }

                // 矢印
                .check_contents_list_arrow_group {
                    display: flex;

                    .check_contents_list_arrow {
                        transform: rotateZ(90deg);
                    }
                }

                // リンク
                .check_contents_list_link {
                    text-decoration: underline;
                    white-space: nowrap;
                }

                // アイテム一番目上部余白なし
                &:nth-child(1) {
                    padding-top: 0;
                }
            }
        }
    }

    // 注意事項
    .notes {
        padding-top: 2%;
        text-align: center;
        p {
            color: #e10000;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    // 上に戻る
    #scroll_to_top {
        display: none;
    }

    // 記事内容ロードアニメーション
    .article_loader {
        position: relative;
        color: #999999;
        font-size: 90px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin: 72px auto;
        transform: translateZ(0);
        @include loaderKey;
        animation: loaderAni1 1.7s infinite ease, loaderAni2 1.7s infinite ease;
    }

    /* 動作環境
====================================================*/

    // 表タブ位置調整
    .table_tabs {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        z-index: 20;

        // 表タブ本体
        .table_tabs_item {
            background: DeepSkyBlue;
            padding: 3% 2%;
            width: 45%;
            font-weight: 700;
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 2%;
            border-radius: 20px;
            filter: drop-shadow(0px 0px 6px rgb(50, 50, 50));

            // 押したとき
            &.active {
                margin-bottom: 0;
                background: rgb(0, 225, 255);
                border-radius: 20px 20px 0 0;
                filter: drop-shadow(0px -3px 2px rgb(50, 50, 50));
            }
        }
    }
    // 表本体
    .table_contents {
        border-spacing: 0;
        background: white;
        border: 5px solid rgb(0, 225, 255);
        box-sizing: content-box;
        filter: drop-shadow(0px 0px 4px rgb(50, 50, 50));

        // 表内容
        .table_row {
            font-size: 1rem;

            // 表ヘッダー
            .table_header {
                color: white;
                border-top: white solid 2px;
                background: linear-gradient(rgb(0 101 201 / 70%), rgb(0 93 188 / 90%) 50%);
            }

            // 表データ
            .table_data {
                padding: 1%;
                border-top: black solid 2px;
                border-right: black solid 2px;
                font-size: 1rem;

                // 中央揃え用
                &.table_data_center {
                    text-align: center;
                }

                // オリジナル版用
                &.table_header_original {
                    color: white;
                    width: 39%;
                    font-weight: 700;
                    background: linear-gradient(rgb(0 101 201 / 70%), rgb(0 93 188 / 90%) 50%);
                }

                // HGE版用
                &.table_header_hge {
                    color: white;
                    width: 70%;
                    font-weight: 700;
                    background: linear-gradient(rgb(0 101 201 / 70%), rgb(0 93 188 / 90%) 50%);
                }

                // 表データリスト用
                .table_data_list {
                    font-size: 1rem;

                    .table_data_list_item {
                        width: fit-content;

                        .table_data_list_item_part {
                            position: relative;
                            display: block;
                            height: 2px;

                            &::before {
                                content: '';
                                background-image: linear-gradient(to right, gray, gray 5px, transparent 5px, transparent 12px);
                                background-size: 9px 2px;
                                background-repeat: repeat-x;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }

            // 表ヘッダー一番目列ボーダー調整
            &:nth-child(1) {
                .table_header {
                    border-top: 0px;
                }

                .table_data {
                    border-top: 0px;
                }
            }

            // 表ヘッダー二番目列ボーダー調整
            &:nth-child(2) {
                .table_data {
                    border-top: 0px;
                }
            }
        }
    }

    .spec_notes {
        padding: 2% 0 0 5%;
        font-size: 1.5rem;

        p {
            text-indent: -1em;
        }
    }

    /* 更新履歴
====================================================*/

    // 更新履歴セクション全体
    .news {
        background: url(#{$path_img}/common/frame_upper.webp) center top no-repeat, url(#{$path_img}/common/frame_lower.webp) center bottom no-repeat;
        background-size: 100% 20%;
        padding: 0 3.5% 10%;
        margin: 5% 3% 0;

        // 更新履歴タイトル
        .news_title {
            padding: 4% 0 3% 0;
            font-size: 1.8rem;
            font-weight: 600;
            text-align: center;
            color: #00cc66;
            text-shadow: none;
            margin: 0;

            @include landscape {
                font-size: 2.5rem;
            }

            &::before,
            &::after {
                background: none;
            }
        }

        // 更新履歴内容
        .news_content {
            position: relative;

            // 更新日及びバージョン位置調整
            .content_list {
                .news_date {
                    @include flex_center;
                    border-bottom: solid 2px #000;

                    // 更新日
                    span {
                        font-size: 1.8rem;
                        font-weight: 600;

                        @include landscape {
                            font-size: 2rem;
                        }
                    }
                }

                // 更新内容要約文
                .news_text {
                    font-size: 1.5rem;
                    padding: 2% 1% 0;
                    line-height: 1.6;

                    @include landscape {
                        font-size: 1.6rem;
                    }
                }
            }

            // 詳細を見る
            .news_more {
                position: absolute;
                right: 15%;
                bottom: -8vw;
                color: #00cc66;
                font-weight: 600;
                font-size: 1.3rem;
                transition: color 0.3s ease-in-out;

                @include landscape {
                    bottom: -8.5vw;
                    font-size: 1.5rem;
                }

                span {
                    display: inline-block;
                    transform: rotate(90deg);
                }

                // 詳細ホバー時
                &:hover {
                    color: #70ebad;
                }
            }
        }
    }

    /* 注目のコンテンツ
====================================================*/

    // 注目リスト上部余白
    .featured_list {
        display: flex;
        flex-direction: column;
        align-items: center;

        // リスト内アイテム個別
        li {
            display: flex;
            flex-direction: column;
            position: relative;
            width: calc(100% - 20px);
            height: 40%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #fffef9 5%, #fffef9 95%, rgba(0, 0, 0, 0) 100%);
            margin: 0 10px 3%;

            @include landscape {
                width: calc(95% - 20px);
            }

            &::before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 50%, rgba(0, 0, 0, 0) 100%);
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 50%, rgba(0, 0, 0, 0) 100%);
            }

            button {
                // アイテム位置調整
                .featured_items {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3% 7% 3% 0;

                    // アイテム画像
                    .featured_img {
                        width: 50%;
                        margin: 0 3% 0 3%;
                        max-width: 150px;
                        border: 2px solid #adf;
                        box-sizing: border-box;
                        line-height: 0;
                        overflow: hidden;
                        box-shadow: 0 0 10px rgb(0 0 0 / 50%);

                        @include landscape {
                            width: 100%;
                            max-width: 180px;
                        }

                        // 初めに
                        &.first {
                            background: url(#{$path_img}/common/featured/featured_first_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 歌姫狩衛戦・真説
                        &.utahime {
                            background: url(#{$path_img}/common/featured/featured_utahime_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // ラヴィエンテ猛狂期
                        &.ravi {
                            background: url(#{$path_img}/common/featured/featured_ravi_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 天廊遠征録
                        /* &.tenrou {
                            background: url(#{$path_img}/common/featured/featured_tenrou_bg.webp) center no-repeat;
                            background-size: 101%;
                        } */

                        // 狩人祭
                        &.festival {
                            background: url(#{$path_img}/common/featured/featured_festival_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 狩煉道
                        &.road {
                            background: url(#{$path_img}/common/featured/featured_road_bg.webp) center no-repeat;
                            background-size: 101%;
                        }

                        // 復帰区
                        &.return {
                            background: url(#{$path_img}/common/featured/featured_return_bg.webp) center no-repeat;
                            background-size: 101%;
                        }
                    }

                    // アイテムテキスト
                    .featured_text {
                        position: relative;
                        font-weight: 600;
                        font-size: 1.4rem;
                        text-align: center;
                        line-height: 120%;
                        width: 60%;

                        @include landscape {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    /* 外部リンク
====================================================*/

    // 外部リスト
    .extlink_list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

        // 外部リスト内アイテム個別
        .extlink_items {
            width: 90%;
            margin: 0 4% 5% 4%;

            @include landscape {
                width: 80%;
            }

            // アイテムリンク
            .extlink_items_link {
                display: block;
                position: relative;
                z-index: 2;

                // タイトル左側マーク
                &::before {
                    display: block;
                    @include up_down;
                    content: '';
                    left: 15%;
                    width: 9%;
                    aspect-ratio: 1 / 1;
                    z-index: 5;

                    @include landscape {
                        width: 7%;
                    }
                }

                // タイトル右側矢印
                &::after {
                    @include up_down;
                    display: block;
                    content: '';
                    background: url(#{$path_img}/common/extlink/extlink_arrow.webp) center no-repeat;
                    background-size: contain;
                    width: 15%;
                    height: 15%;
                    left: auto;
                    right: 4%;
                    z-index: 6;

                    @include landscape {
                        width: 7%;
                    }
                }

                // 初心者ガイド
                &.beginner_guide {
                    // 左側マーク
                    &::before {
                        background: url(#{$path_img}/common/extlink/beginnermark.webp) center no-repeat;
                        background-size: contain;
                    }

                    // 背景
                    .extlink_text_adj {
                        background: url(#{$path_img}/common/extlink/extlink_beginner_bg.webp) center no-repeat;
                        background-size: 95% 96%;
                    }
                }

                // よくある質問
                &.faq {
                    // 左側マーク
                    &::before {
                        background: url(#{$path_img}/common/extlink/faqmark.webp) center no-repeat;
                        background-size: contain;
                    }

                    // 背景
                    .extlink_text_adj {
                        background: url(#{$path_img}/common/extlink/extlink_faq_bg.webp) center no-repeat;
                        background-size: 95% 96%;
                    }
                }

                // 外部フレーム
                .extlink_frame {
                    position: relative;
                    z-index: 7;
                }

                // アイテム内部配置調整及び背景画像
                .extlink_text_adj {
                    @include flex_center;
                    justify-content: flex-start;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 15% 0 29%;
                    background-size: 95% 96%;

                    // アイテム内部テキスト調整
                    .extlink_text_content {
                        z-index: 8;
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;

                        // テキストタイトル
                        .extlink_text_title {
                            display: inline-block;
                            position: relative;
                            font-style: italic;
                            font-weight: 600;
                            font-family: $font_title_ja;
                            color: #fff;
                            font-size: 1.8rem;
                            text-shadow: 0.156vw 0.156vw 0.156vw rgb(0 0 0 / 50%);
                            margin: 0;

                            @include landscape {
                                font-size: 2.5rem;
                            }
                        }
                    }
                }

                // キャラクター画像調整
                .extlink_chara {
                    position: absolute;
                    z-index: 3;
                    width: 95%;
                    height: 95%;
                    top: 2%;
                    right: 3%;
                    overflow: hidden;
                }
            }
        }
    }

    /* ランドスケープモード
====================================================*/

    // オーバーレイ
    .landscape_mode {
        width: 100%;
        height: 100%;
        background: url(#{$path_img}/common/landscape/landscape_mode.jpg) center center no-repeat;
        background-size: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999;
        display: none;
        text-align: center;

        // 注意書き
        .rotate_text {
            @include right_left;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 600;
            bottom: 8%;
            top: auto;
            font-family: $font_title_ja;

            &:lang(en) {
                font-family: $font_title_en;
            }
        }

        // デバイス回転画像
        .rotate_device {
            @include rotateDeviceKey;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(90deg);
            width: 25%;
            animation: rotateDeviceAni 1.3s ease infinite alternate;
        }

        // Now Waiting画像
        .now_waiting {
            display: flex;
            position: absolute;
            right: -48%;
            top: 7%;
            width: 100%;
            @include loadLikeBoundKey;

            img {
                width: 6%;
                margin-left: -1%;

                &:nth-of-type(1) {
                    animation: loadLikeBoundAni 3s ease 0s infinite;
                }

                &:nth-of-type(2) {
                    animation: loadLikeBoundAni 3s ease 0.2s infinite;
                }

                &:nth-of-type(3) {
                    animation: loadLikeBoundAni 3s ease 0.4s infinite;
                    margin-right: 3%;
                }

                &:nth-of-type(4) {
                    animation: loadLikeBoundAni 3s ease 0.6s infinite;
                }

                &:nth-of-type(5) {
                    animation: loadLikeBoundAni 3s ease 0.8s infinite;
                }

                &:nth-of-type(6) {
                    animation: loadLikeBoundAni 3s ease 1s infinite;
                    margin-left: -2%;
                }

                &:nth-of-type(7) {
                    animation: loadLikeBoundAni 3s ease 1.2s infinite;
                    margin-left: -1.5%;
                }
                &:nth-of-type(8) {
                    animation: loadLikeBoundAni 3s ease 1.4s infinite;
                    margin-left: -2%;
                }
                &:nth-of-type(9) {
                    animation: loadLikeBoundAni 3s ease 1.6s infinite;
                    margin-left: -2%;
                }
                &:nth-of-type(10) {
                    animation: loadLikeBoundAni 3s ease 1.8s infinite;
                }
            }
        }

        // オーバーレイ背景色
        &::before {
            content: '';
            background-color: rgba(255, 255, 255, 0.6);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        // 検知時表示
        &.detected {
            display: block;
        }
    }

    /* フッター
====================================================*/

    // フッター背景
    .common_footer {
        background: url(#{$path_img}/common/footer/footer_bg.webp) center top no-repeat;
        background-color: #000;
        background-size: 100%;

        // フッターセクション余白調整
        .footer_link {
            margin: auto;
            width: 90%;
            padding-top: 5%;

            // リンクリスト
            .footer_link_list {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;

                // リスト間隔調整
                li {
                    position: relative;
                    padding-bottom: 8%;
                    width: 90%;

                    // リストアイテム内部調整
                    .footer_list_items {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        position: relative;
                        background-color: rgb(40, 40, 40);
                        border: 2px solid #fff;
                        color: #fff;
                        padding-right: 12%;

                        // アイテム画像
                        .footer_list_img {
                            @include flex_center;
                            position: relative;
                            max-width: 70px;
                            margin: 0px 4%;
                            aspect-ratio: 1 / 1;

                            @include landscape {
                                width: 18%;
                            }
                        }

                        // アイテムタイトル
                        .footer_list_title {
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: #fff;

                            @include landscape {
                                width: 450px;
                                font-size: 1.7rem;
                            }
                        }

                        // アイテム矢印
                        &::after {
                            @include up_down;
                            left: auto;
                            right: 3%;
                            content: '';
                            background: url(#{$path_img}/common/footer/footer_list_items_arrow.webp) center no-repeat;
                            background-size: cover;
                            width: 10%;
                            aspect-ratio: 1 / 1;
                        }
                    }
                }
            }

            // フッターテキスト領域
            .footer_note {
                padding: 3% 0 5%;
                text-align: center;
                color: #fff;
                font-size: 1rem;

                @include landscape {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
