@charset "UTF-8";

/* レスポンシブ対応
====================================================*/
// PC表示
@mixin pc() {
    @media (min-width: 900px) {
        @content;
    }
}

// モバイル表示
@mixin sp {
    @media (max-width: 899px) {
        @content;
    }
}

/* flexでの上下左右中央揃え
====================================================*/
@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* absoluteでの中央揃え関連
====================================================*/
// 上下
@mixin up_down {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

// 左右
@mixin right_left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

// 上下左右
@mixin pos_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* アニメーション関連
====================================================*/
// keyframeテンプレート
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// animationテンプレート
@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    animation: $animation-name;
}
