@charset "UTF-8";

/* 背景色
====================================================*/
$bg_color_error: #fef5e6;

/* フォントファミリー
====================================================*/
// 汎用
$font_ja: "Noto Sans", "Noto Sans JP", sans-serif;
$font_en: "Roboto", "Open Sans", sans-serif;

// タイトル用
$font_title_ja: "Noto Serif JP", serif;
$font_title_en: "Noto Serif", serif;
$font_main_title: "M PLUS 1", sans-serif;

/* アセットルートパス
====================================================*/
// 画像
$path_img: "/img";
