@charset "UTF-8";
@use '../global/' as *;

@include pc() {
    /* メインインナー
====================================================*/

    // インナー調整
    .main_inner_error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow-x: hidden;
        padding: calc(1% + 100px) 0 calc(1% + 100px);

        // コケ猫
        .ouch_cat {
            width: 25%;
            background-size: 100%;
        }

        // タイトル
        .error_h1 {
            position: relative;
            font-size: 3rem;
            font-weight: 600;
            padding: 3.7% 2% 0.5%;

            &:lang(en) {
                font-size: 3.5rem;
            }

            &::before {
                content: '';
                @include right_left;
                bottom: 0;
                top: auto;
                width: 120%;
                height: 3px;
                margin: 0 auto;
                text-align: center;
                background-image: -webkit-linear-gradient(left, transparent, #000 25%, #000 75%, transparent);
                background-image: linear-gradient(to right, transparent, #000 25%, #000 75%, transparent);
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        // インナーテキスト
        .inner_text {
            text-align: center;
            font-size: 1.8rem;
            padding: 3% 0 3%;

            &:lang(en) {
                font-size: 1.8rem;
            }

            // エラー原因
            .error_cause {
                margin: 2em 0;
                position: relative;
                padding: 0.5em 1.5em;
                border-top: solid 2px black;
                border-bottom: solid 2px black;
                list-style: inside;

                // 囲い装飾
                &:before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    width: 2px;
                    height: -webkit-calc(100% + 20px);
                    height: calc(100% + 20px);
                    background-color: black;
                    left: 10px;
                }
                // +
                &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    width: 2px;
                    height: -webkit-calc(100% + 20px);
                    height: calc(100% + 20px);
                    background-color: black;
                    right: 10px;
                }

                // 原因リスト
                li {
                    text-align: start;
                }
            }
        }

        // 戻るボタン
        .btn {
            padding: 0.8% 4%;
            border: 2px solid #17c3b2;
            position: relative;
            overflow: hidden;
            border-radius: 60px;
            background-color: #17c3b2;
            text-align: center;
            font-size: 1.7rem;
            filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.6));
            -webkit-filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.6));
            transition: 0.3s;
            z-index: 1;
            color: white;
            font-weight: bold;

            &:lang(en) {
                font-size: 2.2rem;
                padding: 0.6% 3%;
            }

            &::before {
                content: '';
                width: 0;
                height: 500%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                -webkit-transform: translate(-50%, -50%) rotate(45deg);
                -moz-transform: translate(-50%, -50%) rotate(45deg);
                -ms-transform: translate(-50%, -50%) rotate(45deg);
                -o-transform: translate(-50%, -50%) rotate(45deg);
                background: white;
                transition: 0.5s ease;
                display: block;
                z-index: -1;
            }

            &:hover::before {
                width: 105%;
            }

            &:hover {
                color: #17c3b2;
            }
        }
    }

    /* フッター
====================================================*/
    // フッター帯
    footer {
        display: block;
        position: relative;
        background: #000;

        // フッター帯上部装飾
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 0.2vw;
            background: rgb(190, 193, 195);
        }

        // フッター内コンテンツ調整
        .error_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1% 1.5%;

            // フッターロゴ
            .footer_logo {
                width: 150px;
            }

            // フッターテキスト
            .footer_text {
                color: white;
                font-size: 1.1rem;
                text-align: end;

                &:lang(en) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
