@charset "UTF-8";

/* レスポンシブ対応
====================================================*/
// PC表示
@mixin pc {
    @media (min-width: 900px) {
        @content;
    }
}

// モバイル表示
@mixin sp {
    @media (max-width: 899px) {
        @content;
    }
}

// モバイル横画面表示
@mixin landscape {
    @media (orientation: landscape) {
        @content;
    }
}

/* position中央揃え関連
====================================================*/
// 上下
@mixin up_down {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

// 左右
@mixin right_left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

// 上下左右
@mixin pos_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

// flexでの上下左右
@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* アニメーションキーフレーム
====================================================*/
// デバイス回転
@mixin rotateDeviceKey {
    @keyframes rotateDeviceAni {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(0deg);
        }
        70% {
            transform: rotate(90deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
}

// ロード画面ライクなバウント装飾
@mixin loadLikeBoundKey {
    @keyframes loadLikeBoundAni {
        0% {
            translate: 0% 0%;
        }
        15% {
            translate: 0% -60%;
        }
        40% {
            translate: 0% 0%;
        }
        50% {
            translate: 0% 0%;
        }
    }
}

// 通常ローディングアニメーション
@mixin loaderKey {
    @keyframes loaderAni1 {
        0% {
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
        5%,
        95% {
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
        10%,
        59% {
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
        }
        20% {
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
        }
        38% {
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
        }
        100% {
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    }

    @keyframes loaderAni2 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// 認証中ローディングアニメーション
@mixin authLoaderKey {
    @keyframes authLoaderAni {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
