@charset "UTF-8";

// フォントファミリー（汎用）
$font_ja: 'Noto Sans JP', sans-serif;
$font_en: 'Roboto', 'Open Sans', sans-serif;

// フォントファミリー（タイトル用）
$font_title_ja: 'Noto Serif JP', serif;
$font_title_en: 'Noto Serif', serif;

// 画像ルートパス
$path_img: '/img';

// インフォタイプ別色マップ
$infoColorMap: (
    info0: #f9cb00, // Important
    // defects_and_troubles: #cb0029,
    // management_and_service: #3e4cc5,
    info1: #5ee5de, // Event
    info2: #c76715, // Update
);

// 武器種名
$weaponNamesArray: GreatSword, HeavyBowgun, Hammer, Lance, SwordAndShield, LightBowgun, DualBlades, LongSword, HuntingHorn, Gunlance, Bow, Tonfa, SwitchAxeF, MagnetSpike, new;
