@charset "UTF-8";
@use "../global/" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    font-weight: normal;
}

html {
    height: auto;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: $font_ja;
    color: #000;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;

    &:lang(en) {
        font-family: $font_en;
    }
}

// 画像初期設定
img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

// aタグ装飾削除
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:visited {
        color: inherit;
        text-decoration: none;
    }
}

// ボタン装飾削除
button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
}

// カーソルポインター
.pointer {
    cursor: pointer;
}

// タイトルフォント
h1,
h2{
    font-family: $font_title_ja;

    &:lang(en) {
        font-family: $font_title_en;
    }
}
